<a href="https://colab.research.google.com/github/karenbennis/Xy/blob/storyboard/pyspark_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<br>**A notebook**<br><br>

In [ ]:
# Install Java, Spark, and Findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.7.tgz
!tar xf spark-2.4.6-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

#Interact with SQL
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

# Start Spark Session(Creating spark application with name defined by appName()) ---IMPORTED WITH EVERY COLAB NOTEBOOK
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("database_transformation").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

--2020-07-20 17:48:27--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  1.42MB/s    in 0.6s

2020-07-20 17:48:28 (1.42 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [ ]:
# gcloud login and check the DB
!gcloud auth login
!gcloud config set project 'xy-yelp'
!gcloud sql instances describe 'xy-yelp'

In [ ]:
# download and initialize the psql proxy
!wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
!chmod +x cloud_sql_proxy
# "connectionName" is from the previous block
!nohup ./cloud_sql_proxy -instances="xy-yelp:northamerica-northeast1:xy-yelp"=tcp:5432 &
!sleep 30s

--2020-07-19 18:17:05--  https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64
Resolving dl.google.com (dl.google.com)... 108.177.13.93, 108.177.13.136, 108.177.13.190, ...
Connecting to dl.google.com (dl.google.com)|108.177.13.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 14492253 (14M) [application/octet-stream]
Saving to: ‘cloud_sql_proxy’

cloud_sql_proxy     100%[===================>]  13.82M  --.-KB/s    in 0.05s

2020-07-19 18:17:05 (301 MB/s) - ‘cloud_sql_proxy’ saved [14492253/14492253]

nohup: appending output to 'nohup.out'

In [ ]:
db_password = 'kjhbyelpdb'

In [ ]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://127.0.0.1:5432/xy_yelp_db"
config = {"user":"postgres", 
          "password": db_password, 
          "driver":"org.postgresql.Driver"}

**Extract tables**

In [ ]:
# Pull review table
review_df2 = spark.read.jdbc(url=jdbc_url, table='review',properties=config)
review_df2.show(5)

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
|cALYebKb5hygdKHql...|This is a very in...|    4|   0|     0|    0| 2011-01-12|     review|
|SawdMXLYD5ytRmMFv...|I LOVE Chic Nails...|    5|   0|     2|    0| 2011-01-20|     review|
|j-jMQdELr6AFkCcEH...|After the Padres ...|    5|   0|     0|    0| 2011-01-06|     review|
|SmUMyCUNrT9HEo_DX...|I have to admit t...|    4|   0|     1|    0| 2010-01-17|     review|
|oTB_mpCKcu-8wayQQ...|Best food, super ...|    5|   0|     1|    0| 2011-01-14|     review|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
only showing top 5 rows

In [ ]:
# Pull business table
business_df2 = spark.read.jdbc(url=jdbc_url, table='business',properties=config)
business_df2.show(5)

+--------------------+--------------------+
|           review_id|         business_id|
+--------------------+--------------------+
|fWKvX83p0-ka4JS3d...|9yKzy9PApeiPPOUJE...|
|IjZ33sJrzXqU-0X6U...|ZRJwVLyzEJq1VAihD...|
|IESLBzqUCLdSzSqm0...|6oRAC4uyJCsJl1X0W...|
|G-WvGaISbqqaMHlNn...|_1QQZuf4zZOyFCvXc...|
|1uJFq2r5QfJG_6ExM...|6ozycU1RpktNG2-1B...|
+--------------------+--------------------+
only showing top 5 rows

In [ ]:
# Pull yelp_user table
user_df2 = spark.read.jdbc(url=jdbc_url, table='yelp_user',properties=config)
user_df2.show(5)

+--------------------+--------------------+
|           review_id|             user_id|
+--------------------+--------------------+
|GJGUHAAONtBSBj53c...|Z3c7xGRfeV-uMkSbA...|
|nQH2KAvAeOJOYKX99...|ryjqXdp68i2I9JPOp...|
|-yKcbjWSlmKC1zTMT...|5W-ruHmpkwLyI6Lla...|
|20aES_-g5Vyqfzojn...|vhxFLqRok6r-D_aQz...|
|W_d9w7yr3koSUXHco...|aBnKTxZzdhabTXfzt...|
+--------------------+--------------------+
only showing top 5 rows

In [ ]:
# Join tables
spark_df = review_df2.join(business_df2, on="review_id", how="inner")
spark_df = spark_df.join(user_df2, on="review_id", how="inner")
spark_df.show(5)

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|         business_id|             user_id|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+
|-7yxrdY13ay15rGB7...|I have been going...|    5|   0|     0|    0| 2010-01-16|     review|Lh9nz0KYyzE-YRbKu...|ayKW9eWwGFcrtJaHc...|
|-Be0UUGYuiDJVAM_Y...|Since Im big into...|    4|   0|     2|    2| 2011-01-25|     review|pa6K7DGByxBXxcVJ5...|_4lqpCYCqOQzbB6xQ...|
|-nQHHXi-d_yuW301_...|A pleasant place ...|    2|   0|     0|    0| 2011-01-12|     review|GIGI8bJfN6HyPzmEW...|4QORbyhfN01oKR_Gg...|
|2L30O7G8IQ6HILpR0...|part of a social ...|    5|   0|     0|    0| 2010-01-24|     review|qiwajZigq_2twTmYo...|ST8Yzlk2MqKlcaLqL...|
|4x5yLG7_yGLuN-w6f...|I love every plac...|    4|   0|     1|    0| 2011-01-02|     review|9yKzy9PApeiPPOUJE...|Vk-hJ1i5ZagPM87Kv...|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+
only showing top 5 rows

**Transformation**

In [ ]:
import pyspark.sql.functions as F

spark_df=spark_df.withColumn('length',F.length('review_text'))

In [ ]:
spark_df=spark_df.withColumn('class',F.when( (spark_df["stars"]>3), 1).otherwise(0))
spark_df.show()

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+-----+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|         business_id|             user_id|length|class|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+-----+
|-7yxrdY13ay15rGB7...|I have been going...|    5|   0|     0|    0| 2010-01-16|     review|Lh9nz0KYyzE-YRbKu...|ayKW9eWwGFcrtJaHc...|   670|    1|
|-Be0UUGYuiDJVAM_Y...|Since Im big into...|    4|   0|     2|    2| 2011-01-25|     review|pa6K7DGByxBXxcVJ5...|_4lqpCYCqOQzbB6xQ...|  1348|    1|
|-nQHHXi-d_yuW301_...|A pleasant place ...|    2|   0|     0|    0| 2011-01-12|     review|GIGI8bJfN6HyPzmEW...|4QORbyhfN01oKR_Gg...|   813|    0|
|2L30O7G8IQ6HILpR0...|part of a social ...|    5|   0|     0|    0| 2010-01-24|     review|qiwajZigq_2twTmYo...|ST8Yzlk2MqKlcaLqL...|   415|    1|
|4x5yLG7_yGLuN-w6f...|I love every plac...|    4|   0|     1|    0| 2011-01-02|     review|9yKzy9PApeiPPOUJE...|Vk-hJ1i5ZagPM87Kv...|   302|    1|
|5h0EVAee-RDbbKfhd...|A great value for...|    5|   2|     1|    0| 2012-01-21|     review|4VzaYvZntWBRbr8Vm...|feQpvbp8jGBWMuG5u...|   284|    1|
|6jV77Bs_Vu_rHkdUx...|This review is fo...|    3|   1|     2|    1| 2011-01-23|     review|kwq3bK7BzPKLwXKqV...|RwVaQNP1Ag-Seu3U9...|  1092|    0|
|8tW7Dbqv8RR2NfZJ4...|I would never hav...|    4|   3|     6|    2| 2012-01-19|     review|GbEOmf5k73r_UJWjc...|RAWy3YCE-jwfyuGvw...|  1194|    1|
|8uV26l7-ktb4tZ5gR...|The new Harkins C...|    5|   0|     1|    0| 2007-01-23|     review|1pGC-0jvQ6vN5rzmC...|nWouNfZD3Pw08RYiz...|   355|    1|
|AfDVtSpM6GvkqS1wJ...|This is one of my...|    5|   0|     0|    0| 2010-01-07|     review|nvaAUTTl7oqiJDhui...|LvAr6xG-A40PGk1qu...|   185|    1|
|CdAkiPi_KKLjHo5l2...|OK, I went based ...|    5|   1|     5|    1| 2008-01-11|     review|NB6o73F05lw23zpC7...|AdEy5KAIlMAy8xHyu...|  1712|    1|
|EnAdKZ_u_wj9ifTRw...|I highly reccomen...|    5|   0|     1|    0| 2012-01-12|     review|rncjoVoEFUJGCUoC1...|HK35ai8frY75iMYBV...|   308|    1|
|FBw_MLyO9eduoDfs-...|I was severely mi...|    1|   3|     5|   20| 2011-01-22|     review|MPsCdY0Bwv2G0JXtw...|lhf22sqBafQv6CXu2...|   203|    0|
|HPJHQKDVttoNjsnlC...|Where else can yo...|    5|   1|     1|    0| 2012-01-29|     review|5KG0A3WlC7K3DAXtr...|ZRQdOIIhzrzE6sc3e...|   460|    1|
|Hw0IOfTf-SpkByFAG...|My friend who I w...|    4|   0|     1|    0| 2009-01-20|     review|EOCQ5E0lakUyBvUH0...|0Kz7-hBrrtBTdKBpE...|   866|    1|
|JSocnq8bLHvbyd3sv...|This place came r...|    2|   0|     0|    0| 2010-01-02|     review|4FS5otEktCyI1aDpg...|j2eM540C7mbF1TZvC...|   669|    0|
|MEdGp-pkf6DAxAsgU...|Awesome food and ...|    5|   0|     0|    0| 2012-01-15|     review|I4bSn5gXsHuSPu7L-...|JfezQ-BqHOE7pnW2D...|    25|    1|
|PINoAXjJQpl3yobdD...|Today I went in f...|    3|   0|     0|    0| 2011-01-16|     review|v6zRA0WqOODJjmpvs...|Iycf9KNRhxvR187Qu...|   342|    0|
|Q5tzwCvyTZBn6_5N1...|The novelty of th...|    3|   4|     4|    4| 2009-01-24|     review|Zg-C1aYcoR2L5OIrA...|DPMUGzrjTwX5uJtrm...|  1157|    0|
|S7fxRPce-j6RbEGRv...|Although the boba...|    4|   0|     1|    0| 2009-01-01|     review|f9eFteZuBoZqzYg5U...|7KINmvqlh8H3r5M93...|   222|    1|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+-----+
only showing top 20 rows

<br></br>**Pipeline**<br></br>

In [ ]:
# Import functions
from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer

In [ ]:
# Make stars values a list
from pyspark.sql.functions import col, split
spark_df = spark_df.withColumn("star_array", split(col("stars"), " "))
spark_df.show()

In [ ]:
# Initialize a CoutVectorizer
from pyspark.ml.feature import CountVectorizer
star_vectorizer = CountVectorizer(inputCol="star_array", outputCol="stars_one_hot", vocabSize=5, minDF=1.0)

In [ ]:
# Create a vector model
star_vector_model = star_vectorizer.fit(spark_df)

In [ ]:
# One hot encoded column
df_ohe = star_vector_model.transform(spark_df)
df_ohe.show(3)

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+-----+----------+-------------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|         business_id|             user_id|length|class|star_array|stars_one_hot|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+-----+----------+-------------+
|-7yxrdY13ay15rGB7...|I have been going...|    5|   0|     0|    0| 2010-01-16|     review|Lh9nz0KYyzE-YRbKu...|ayKW9eWwGFcrtJaHc...|   670|    1|       [5]|(5,[1],[1.0])|
|-Be0UUGYuiDJVAM_Y...|Since Im big into...|    4|   0|     2|    2| 2011-01-25|     review|pa6K7DGByxBXxcVJ5...|_4lqpCYCqOQzbB6xQ...|  1348|    1|       [4]|(5,[0],[1.0])|
|-nQHHXi-d_yuW301_...|A pleasant place ...|    2|   0|     0|    0| 2011-01-12|     review|GIGI8bJfN6HyPzmEW...|4QORbyhfN01oKR_Gg...|   813|    0|       [2]|(5,[3],[1.0])|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+-----+----------+-------------+
only showing top 3 rows

In [ ]:
# Create all the features to the data set
#star_rating = StringIndexer(inputCol='stars_one_hot',outputCol='label')
tokenizer = Tokenizer(inputCol="review_text", outputCol="token_text")
stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

In [ ]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector
# Create feature vector 
clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')

In [ ]:
# Create and run a data processing Pipeline
from pyspark.ml import Pipeline
data_prep_pipeline = Pipeline(stages=[tokenizer, stopremove, hashingTF, idf, clean_up])

In [ ]:
# Fit and transform the pipeline
cleaner = data_prep_pipeline.fit(df_ohe)
cleaned = cleaner.transform(df_ohe)

In [ ]:
#@title
cleaned.show()

In [ ]:
cleaned.show()

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+-----+----------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|         business_id|             user_id|length|class|star_array|stars_one_hot|          token_text|         stop_tokens|          hash_token|           idf_token|            features|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+-----+----------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|-7yxrdY13ay15rGB7...|I have been going...|    5|   0|     0|    0| 2010-01-16|     review|Lh9nz0KYyzE-YRbKu...|ayKW9eWwGFcrtJaHc...|   670|    1|       [5]|(5,[1],[1.0])|[i, have, been, g...|[going, arizona, ...|(262144,[9521,133...|(262144,[9521,133...|(262145,[9521,133...|
|-Be0UUGYuiDJVAM_Y...|Since Im big into...|    4|   0|     2|    2| 2011-01-25|     review|pa6K7DGByxBXxcVJ5...|_4lqpCYCqOQzbB6xQ...|  1348|    1|       [4]|(5,[0],[1.0])|[since, im, big, ...|[since, im, big, ...|(262144,[78,3188,...|(262144,[78,3188,...|(262145,[78,3188,...|
|-nQHHXi-d_yuW301_...|A pleasant place ...|    2|   0|     0|    0| 2011-01-12|     review|GIGI8bJfN6HyPzmEW...|4QORbyhfN01oKR_Gg...|   813|    0|       [2]|(5,[3],[1.0])|[a, pleasant, pla...|[pleasant, place,...|(262144,[1846,410...|(262144,[1846,410...|(262145,[1846,410...|
|2L30O7G8IQ6HILpR0...|part of a social ...|    5|   0|     0|    0| 2010-01-24|     review|qiwajZigq_2twTmYo...|ST8Yzlk2MqKlcaLqL...|   415|    1|       [5]|(5,[1],[1.0])|[part, of, a, soc...|[part, social, ev...|(262144,[8804,198...|(262144,[8804,198...|(262145,[8804,198...|
|4x5yLG7_yGLuN-w6f...|I love every plac...|    4|   0|     1|    0| 2011-01-02|     review|9yKzy9PApeiPPOUJE...|Vk-hJ1i5ZagPM87Kv...|   302|    1|       [4]|(5,[0],[1.0])|[i, love, every, ...|[love, every, pla...|(262144,[17141,24...|(262144,[17141,24...|(262145,[17141,24...|
|5h0EVAee-RDbbKfhd...|A great value for...|    5|   2|     1|    0| 2012-01-21|     review|4VzaYvZntWBRbr8Vm...|feQpvbp8jGBWMuG5u...|   284|    1|       [5]|(5,[1],[1.0])|[a, great, value,...|[great, value, fa...|(262144,[30006,30...|(262144,[30006,30...|(262145,[30006,30...|
|6jV77Bs_Vu_rHkdUx...|This review is fo...|    3|   1|     2|    1| 2011-01-23|     review|kwq3bK7BzPKLwXKqV...|RwVaQNP1Ag-Seu3U9...|  1092|    0|       [3]|(5,[2],[1.0])|[this, review, is...|[review, jcpenny,...|(262144,[3921,517...|(262144,[3921,517...|(262145,[3921,517...|
|8tW7Dbqv8RR2NfZJ4...|I would never hav...|    4|   3|     6|    2| 2012-01-19|     review|GbEOmf5k73r_UJWjc...|RAWy3YCE-jwfyuGvw...|  1194|    1|       [4]|(5,[0],[1.0])|[i, would, never,...|[never, stopped, ...|(262144,[2325,243...|(262144,[2325,243...|(262145,[2325,243...|
|8uV26l7-ktb4tZ5gR...|The new Harkins C...|    5|   0|     1|    0| 2007-01-23|     review|1pGC-0jvQ6vN5rzmC...|nWouNfZD3Pw08RYiz...|   355|    1|       [5]|(5,[1],[1.0])|[the, new, harkin...|[new, harkins, ci...|(262144,[18320,21...|(262144,[18320,21...|(262145,[18320,21...|
|AfDVtSpM6GvkqS1wJ...|This is one of my...|    5|   0|     0|    0| 2010-01-07|     review|nvaAUTTl7oqiJDhui...|LvAr6xG-A40PGk1qu...|   185|    1|       [5]|(5,[1],[1.0])|[this, is, one, o...|[one, favorite, b...|(262144,[22622,38...|(262144,[22622,38...|(262145,[22622,38...|
|CdAkiPi_KKLjHo5l2...|OK, I went based ...|    5|   1|     5|    1| 2008-01-11|     review|NB6o73F05lw23zpC7...|AdEy5KAIlMAy8xHyu...|  1712|    1|       [5]|(5,[1],[1.0])|[ok,, i, went, ba...|[ok,, went, based...|(262144,[14,329,1...|(262144,[14,329,1...|(262145,[14,329,1...|
|EnAdKZ_u_wj9ifTRw...|I highly reccomen...|    5|   0|     1|    0| 2012-01-12|     review|rncjoVoEFUJGCUoC1...|HK35ai8frY75iMYBV...|   308|    1|       [5]|(5,[1],[1.0])|[i, highly, recco...|[highly, reccomen...|(262144,[9988,171...|(262144,[9988,171...|(262145,[9988,171...|
|FBw_MLyO9eduoDfs-...|I was severely mi...|    1|   3|     5|   20| 2011-01-22|     review|MPsCdY0Bwv2G0JXtw...|lhf22sqBafQv6CXu2...|   203|    0|       [1]|(5,[4],[1.0])|[i, was, severely...|[severely, mislea...|(262144,[133,2401...|(262144,[133,2401...|(262145,[133,2401...|
|HPJHQKDVttoNjsnlC...|Where else can yo...|    5|   1|     1|    0| 2012-01-29|     review|5KG0A3WlC7K3DAXtr...|ZRQdOIIhzrzE6sc3e...|   460|    1|       [5]|(5,[1],[1.0])|[where, else, can...|[else, go, chandl...|(262144,[20719,32...|(262144,[20719,32...|(262145,[20719,32...|
|Hw0IOfTf-SpkByFAG...|My friend who I w...|    4|   0|     1|    0| 2009-01-20|     review|EOCQ5E0lakUyBvUH0...|0Kz7-hBrrtBTdKBpE...|   866|    1|       [4]|(5,[0],[1.0])|[my, friend, who,...|[friend, visiting...|(262144,[14,4622,...|(262144,[14,4622,...|(262145,[14,4622,...|
|JSocnq8bLHvbyd3sv...|This place came r...|    2|   0|     0|    0| 2010-01-02|     review|4FS5otEktCyI1aDpg...|j2eM540C7mbF1TZvC...|   669|    0|       [2]|(5,[3],[1.0])|[this, place, cam...|[place, came, rec...|(262144,[9287,156...|(262144,[9287,156...|(262145,[9287,156...|
|MEdGp-pkf6DAxAsgU...|Awesome food and ...|    5|   0|     0|    0| 2012-01-15|     review|I4bSn5gXsHuSPu7L-...|JfezQ-BqHOE7pnW2D...|    25|    1|       [5]|(5,[1],[1.0])|[awesome, food, a...|[awesome, food, s...|(262144,[82495,11...|(262144,[82495,11...|(262145,[82495,11...|
|PINoAXjJQpl3yobdD...|Today I went in f...|    3|   0|     0|    0| 2011-01-16|     review|v6zRA0WqOODJjmpvs...|Iycf9KNRhxvR187Qu...|   342|    0|       [3]|(5,[2],[1.0])|[today, i, went, ...|[today, went, lun...|(262144,[13957,27...|(262144,[13957,27...|(262145,[13957,27...|
|Q5tzwCvyTZBn6_5N1...|The novelty of th...|    3|   4|     4|    4| 2009-01-24|     review|Zg-C1aYcoR2L5OIrA...|DPMUGzrjTwX5uJtrm...|  1157|    0|       [3]|(5,[2],[1.0])|[the, novelty, of...|[novelty, place, ...|(262144,[2640,530...|(262144,[2640,530...|(262145,[2640,530...|
|S7fxRPce-j6RbEGRv...|Although the boba...|    4|   0|     1|    0| 2009-01-01|     review|f9eFteZuBoZqzYg5U...|7KINmvqlh8H3r5M93...|   222|    1|       [4]|(5,[0],[1.0])|[although, the, b...|[although, boba, ...|(262144,[14,13677...|(262144,[14,13677...|(262145,[14,13677...|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+-----+----------+-------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#Drop intermediate columns
x=cleaned.select('features','stars_one_hot','stars')

In [ ]:
# Break data down into a training set and a testing set
#training, testing = x.randomSplit([0.7, 0.3], 21)

In [ ]:
#training.show()

In [ ]:
# Authenticate user
from google.colab import auth
auth.authenticate_user()

In [ ]:
# Set project id
project_id = 'xy-yelp'

In [ ]:
# Set project
!gcloud config set project {project_id}

Updated property [core/project].

In [ ]:
# File path to save json file to
filepath = '/tmp/ml_j.json'

In [ ]:
# Save json file **** this will break if the file already exists, which it does at this point, therefore its commented out for now
#x.coalesce(1).write.format('json').save(filepath)

In [ ]:
# Bucket name
bucket_name = 'xy-bucket'

In [ ]:
# Copy saved file from /tmp to bucket
#!gsutil cp -r /tmp/ml_j.json/ gs://{bucket_name}/json_files/

Copying file:///tmp/ml_j.json/_SUCCESS [Content-Type=application/octet-stream]...
Copying file:///tmp/ml_j.json/.part-00000-92b085ac-0a90-49de-85dd-2f1b433007ee-c000.json.crc [Content-Type=application/octet-stream]...
Copying file:///tmp/ml_j.json/._SUCCESS.crc [Content-Type=application/octet-stream]...
Copying file:///tmp/ml_j.json/part-00000-92b085ac-0a90-49de-85dd-2f1b433007ee-c000.json [Content-Type=application/json]...
- [4 files][ 16.1 MiB/ 16.1 MiB]
Operation completed over 4 objects/16.1 MiB.

In [ ]:
# Get file which was saved to bucket **** file saves as multiple files so this should be addressed in the future, for now the 11mb file should be fine
!gsutil cp -r gs://xy-bucket/json_files/ml_j.json/part-00000-92b085ac-0a90-49de-85dd-2f1b433007ee-c000.json /tmp/machine_json.json

Copying gs://xy-bucket/json_files/ml_j.json/part-00000-92b085ac-0a90-49de-85dd-2f1b433007ee-c000.json...
/ [1 files][ 16.0 MiB/ 16.0 MiB]
Operation completed over 1 objects/16.0 MiB.

In [ ]:
# Set filepath to tmp folder where bucket file was saved **** this could actually be done without saving to the bucket, this is just done to make sure we can 
# save to and read from bucket if we need to
filepath = '/tmp/machine_json.json'

In [ ]:
# Import pandas and read json file into DataFrame
import pandas as pd
hope_this_works = pd.read_json(filepath, lines=True)

In [ ]:
# Show dataframe
hope_this_works.head()

                                            features  ... stars
0  {'type': 0, 'size': 262145, 'indices': [9521, ...  ...     5
1  {'type': 0, 'size': 262145, 'indices': [78, 31...  ...     4
2  {'type': 0, 'size': 262145, 'indices': [1846, ...  ...     2
3  {'type': 0, 'size': 262145, 'indices': [8804, ...  ...     5
4  {'type': 0, 'size': 262145, 'indices': [17141,...  ...     4

[5 rows x 3 columns]

In [ ]:
# View full contents of cell to understand how json data was read into DataFrame
thing = hope_this_works.iat[0,0]
print(thing)

{'type': 0, 'size': 262145, 'indices': [9521, 13381, 24113, 34146, 47205, 48870, 52657, 55639, 69793, 72944, 74473, 78329, 79660, 80245, 82321, 82582, 87910, 89717, 95454, 95502, 101376, 107367, 109230, 113458, 113462, 115157, 117481, 118144, 120391, 125372, 128924, 130707, 132270, 132538, 134691, 137431, 138356, 141407, 154186, 157120, 168385, 181758, 184251, 188828, 192137, 195155, 208258, 216432, 218117, 221790, 222394, 229772, 232685, 235700, 236821, 240976, 245044, 262144], 'values': [13.146379889022644, 4.547001272864449, 1.6436118877681851, 12.331835858506187, 10.720585530532915, 4.213228093212401, 6.90785527398247, 2.310717259691643, 8.111828078308406, 7.824146005856625, 3.139702638974026, 2.464028238403142, 7.418680897748461, 4.625472888305944, 4.213228093212401, 13.004780331748613, 6.725533717188516, 2.067612965814895, 8.517293186416572, 8.517293186416572, 3.973998404146567, 2.415853786100017, 10.014967732503301, 2.852598100468416, 5.083305981931424, 3.5302677579594492, 3.249435027353243, 8.517293186416572, 6.502390165874306, 1.326994012838776, 6.3772270229203, 3.958166938929886, 1.666108258922828, 3.912123000428479, 8.517293186416572, 5.878235856801312, 1.23556346641764, 2.048818364037328, 5.496868300272208, 8.517293186416572, 7.013215789640297, 4.0456543930530025, 4.933774247960461, 6.214708093422525, 4.712171729442988, 6.165917929253093, 1.163250804806014, 5.843144536990042, 5.221456320412241, 4.193160530161592, 3.051344978484583, 4.051385067761987, 2.129572470285734, 5.259196648395089, 3.790443954447083, 4.290459441148391, 2.4500256758930883, 670.0]}

In [ ]:
# Separate dictionary values keys into columns keeping the values and column values
features_series = hope_this_works.features.apply(pd.Series)

In [ ]:
# Drop type as it was an extra json value added during conversion
features_series = features_series.drop('type', axis=1)

In [ ]:
# Check DataFrame structure
features_series.head(3)

     size  ...                                             values
0  262145  ...  [13.146379889022644, 4.547001272864449, 1.6436...
1  262145  ...  [3.9846936932633152, 8.111828078308406, 2.9151...
2  262145  ...  [11.89024888444809, 6.812545094178145, 4.77962...

[3 rows x 3 columns]

In [ ]:
# Initialize target dataframe
new_df = features_series.copy()

In [ ]:
# Combine size, indices, and values into tuple containing mutil-dimensional array to match original format
new_df['features'] = list(zip(features_series['indices'], features_series['values']))

In [ ]:
# Check it out yo
new_df.head()

     size  ...                                           features
0  262145  ...  ([9521, 13381, 24113, 34146, 47205, 48870, 526...
1  262145  ...  ([78, 3188, 4200, 4821, 5381, 5947, 8391, 8527...
2  262145  ...  ([1846, 4106, 7917, 8287, 8630, 8769, 13677, 1...
3  262145  ...  ([8804, 19862, 30006, 40337, 46639, 47032, 509...
4  262145  ...  ([17141, 24145, 35715, 48549, 54961, 61231, 75...

[5 rows x 4 columns]

In [ ]:
# Drop redundant columns
new_df = new_df.drop(['indices', 'values'], axis=1)

In [ ]:
# Inspect DataFrame
new_df.head()

     size  ...                                           features
0  262145  ...  ([9521, 13381, 24113, 34146, 47205, 48870, 526...
1  262145  ...  ([78, 3188, 4200, 4821, 5381, 5947, 8391, 8527...
2  262145  ...  ([1846, 4106, 7917, 8287, 8630, 8769, 13677, 1...
3  262145  ...  ([8804, 19862, 30006, 40337, 46639, 47032, 509...
4  262145  ...  ([17141, 24145, 35715, 48549, 54961, 61231, 75...

[5 rows x 4 columns]

In [ ]:
# Start converting label data, again unzipping dictionary keys to columns and values as rows
labels_series = hope_this_works.stars_one_hot.apply(pd.Series)
labels_series.head()

   type  size indices values
0     0     5     [1]  [1.0]
1     0     5     [0]  [1.0]
2     0     5     [3]  [1.0]
3     0     5     [1]  [1.0]
4     0     5     [0]  [1.0]

In [ ]:
# Drope type since its not needed
labels_series = labels_series.drop('type', axis=1)
labels_series.head(3)

   size indices values
0     5     [1]  [1.0]
1     5     [0]  [1.0]
2     5     [3]  [1.0]

In [ ]:
# Initialize DataFrame
newer_df = labels_series.copy()

In [ ]:
# Combine size, indices, and values into tuple containing mutil-dimensional array to match original format
newer_df['label_list'] = list(zip(labels_series['size'], labels_series['indices'], labels_series['values']))
newer_df.head(3)

   size indices values       label_list
0     5     [1]  [1.0]  (5, [1], [1.0])
1     5     [0]  [1.0]  (5, [0], [1.0])
2     5     [3]  [1.0]  (5, [3], [1.0])

In [ ]:
# Drop redundant columns
newer_df = newer_df.drop(['size', 'indices', 'values'], axis=1)
newer_df.head(3)

        label_list
0  (5, [1], [1.0])
1  (5, [0], [1.0])
2  (5, [3], [1.0])

In [ ]:
# Combine features and labels to DataFrame to be used in machine learning model
machine_df = pd.concat([new_df, newer_df, hope_this_works['stars']], axis=1)
machine_df.head()

     size  ... stars
0  262145  ...     5
1  262145  ...     4
2  262145  ...     2
3  262145  ...     5
4  262145  ...     4

[5 rows x 9 columns]

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score, roc_curve

In [ ]:
x=machine_df['indices']
y=machine_df['stars']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=101)