<a href="https://colab.research.google.com/github/karenbennis/Xy/blob/ml_model/pyspark_pipeline_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<br>**Connect to Database**<br><br>

In [1]:
# Install Java, Spark, and Findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.7.tgz
!tar xf spark-2.4.6-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

#Interact with SQL
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

# Start Spark Session(Creating spark application with name defined by appName()) ---IMPORTED WITH EVERY COLAB NOTEBOOK
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("database_transformation").config("spark.driver.memory","8g").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

--2020-07-25 18:02:45--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.2’

postgresql-42.2.9.j 100%[===================>] 892.61K  1.05MB/s    in 0.8s

2020-07-25 18:02:47 (1.05 MB/s) - ‘postgresql-42.2.9.jar.2’ saved [914037/914037]

In [ ]:
# gcloud login and check the DB
!gcloud auth login
!gcloud config set project 'xy-yelp'
!gcloud sql instances describe 'xy-yelp'

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth&code_challenge=TGHQzzth5e5AMSwqAw6CpiH3wec9voSu-hui-MK-he0&code_challenge_method=S256&access_type=offline&response_type=code&prompt=select_account


Enter verification code: 4/2QHe7YUZLypxZoQQ6PhcY2igPX1F0aY8znLdi8Pv6YIxOPyVrLPM_vU

You are now logged in as [helenly25@gmail.com].
Your current project is [xy-yelp].  You can change this setting by running:
  $ gcloud config set project PROJECT_ID
Updated property [core/project].
backendType: SECOND_GEN
connectionName: xy-yelp:northamerica-northeast1:xy-yelp
databaseVersion: POSTGRES_12
etag: bc66e3b4861eccb5afd42f9c257f2fb71f9c6273f5cfcb70659b019d99a17896
gceZone: northamerica-northeast1-a
instanceType: CLOUD_SQL_INSTANCE
ipAddresses:
- ipAddress: 34.95.0.17
  type: PRIMARY
kind: sql#instance
name: xy-yelp
project: xy-yelp
region: northamerica-northeast1
selfLink: https://sqladmin.googleapis.com/sql/v1beta4/projects/xy-yelp/instances/xy-yelp
serverCaCert:
  cert: |-
    -----BEGIN CERTIFICATE-----
    MIIDfzCCAmegAwIBAgIBADANBgkqhkiG9w0BAQsFADB3MS0wKwYDVQQuEyQzYTcz
    ZmJhNS0xYTNlLTQwNmMtOWZhOC1hZGE1MDI3OGZkY2QxIzAhBgNVBAMTGkdvb2ds
    ZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUsIEluYzELMAkG
    A1UEBhMCVVMwHhcNMjAwNzExMjAwMDA4WhcNMzAwNzA5MjAwMTA4WjB3MS0wKwYD
    VQQuEyQzYTczZmJhNS0xYTNlLTQwNmMtOWZhOC1hZGE1MDI3OGZkY2QxIzAhBgNV
    BAMTGkdvb2dsZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUs
    IEluYzELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
    AQDMLAiCVUS0u8JRUQSqXLNcXiDU4euUjKhmvbOnDCr2VNVX+dQoq8P+HmL4ruxr
    lmLgtNKuhKjqISSzVKDxEf0mudWfOP+ygsXSP6XxLWplHn/N1A881+u+T33u5N0/
    wreqH6suvi7Cu/SSEcmYUCnpIy5pSZzO63ww9M4p2HZnG/g/j7uqGdPUpdG4GbCk
    jb8EskJiH0hU08ct+AySyc0mrgvfP9l/S5chz0j69uQX/yvWXWy4SSfJ3+wc45Se
    8v7WYo+lcwsOu0lGCz53X9Nej0Av47aKUzXD4HlleeMTbkjgYEv2hRWKVoUhzugT
    dJTsminBKtnYK1n2witgxNqVAgMBAAGjFjAUMBIGA1UdEwEB/wQIMAYBAf8CAQAw
    DQYJKoZIhvcNAQELBQADggEBAB45K3XfFNL/Vkbj0f9daDji+cJHeUS3Y8Uxehog
    2rf+rbmwfeH757NZT29o8rSMMfV05z3fuYvS67JvSIDx/I3UsxRGzRZY4EfXXhC9
    Vke7AVtfxNgKk86V+JPEGQp52L+PFYdh33DigL8XrWpektxIxf7RAqFIvV0F+0FS
    DhXWXkZ8ONFpMK6BCd4aZcKgD0LHafoAKv67+A8IE6b1fFJLh1nkuqZyv1kwLwTM
    bLzSMmkgvxuv8d0dmVxWWr/V1kjc2U7oMqF+tgOE+hcF7fWRyRRZko1RtPwjUHlT
    qzw5uqZUsxR8S4yyiaeePiF8YnDI72ypyY6FiRMlteAydJs=
    -----END CERTIFICATE-----
  certSerialNumber: '0'
  commonName: C=US,O=Google\, Inc,CN=Google Cloud SQL Server CA,dnQualifier=3a73fba5-1a3e-406c-9fa8-ada50278fdcd
  createTime: '2020-07-11T20:00:08.018Z'
  expirationTime: '2030-07-09T20:01:08.018Z'
  instance: xy-yelp
  kind: sql#sslCert
  sha1Fingerprint: 2e2ffdd64d766e372537c174a3d4b91f59ee3e63
serviceAccountEmailAddress: p8056368877-0mi1n8@gcp-sa-cloud-sql.iam.gserviceaccount.com
settings:
  activationPolicy: ALWAYS
  availabilityType: ZONAL
  backupConfiguration:
    enabled: true
    kind: sql#backupConfiguration
    location: us
    pointInTimeRecoveryEnabled: true
    replicationLogArchivingEnabled: true
    startTime: 13:00
  dataDiskSizeGb: '43'
  dataDiskType: PD_SSD
  ipConfiguration:
    authorizedNetworks:
    - kind: sql#aclEntry
      name: Karen's Residence
      value: 173.32.183.48
    - kind: sql#aclEntry
      name: Helen's Residence
      value: 72.142.66.43
    - kind: sql#aclEntry
      name: Blake Residence
      value: 24.114.82.234
    ipv4Enabled: true
  kind: sql#settings
  locationPreference:
    kind: sql#locationPreference
    zone: northamerica-northeast1-a
  maintenanceWindow:
    day: 0
    hour: 0
    kind: sql#maintenanceWindow
  pricingPlan: PER_USE
  replicationType: SYNCHRONOUS
  settingsVersion: '35'
  storageAutoResize: true
  storageAutoResizeLimit: '0'
  tier: db-f1-micro
state: RUNNABLE

In [ ]:
# download and initialize the psql proxy
!wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
!chmod +x cloud_sql_proxy
# "connectionName" is from the previous block
!nohup ./cloud_sql_proxy -instances="xy-yelp:northamerica-northeast1:xy-yelp"=tcp:5432 &
!sleep 30s

cloud_sql_proxy: Text file busy
nohup: appending output to 'nohup.out'

In [ ]:
db_password = 'kjhbyelpdb'

In [ ]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://127.0.0.1:5432/xy_yelp_db"
config = {"user":"postgres", 
          "password": db_password, 
          "driver":"org.postgresql.Driver"}

**Extract tables**

In [ ]:
# Pull review table
review_df2 = spark.read.jdbc(url=jdbc_url, table='review',properties=config)
review_df2.show(5)

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
|cALYebKb5hygdKHql...|This is a very in...|    4|   0|     0|    0| 2011-01-12|     review|
|SawdMXLYD5ytRmMFv...|I LOVE Chic Nails...|    5|   0|     2|    0| 2011-01-20|     review|
|j-jMQdELr6AFkCcEH...|After the Padres ...|    5|   0|     0|    0| 2011-01-06|     review|
|SmUMyCUNrT9HEo_DX...|I have to admit t...|    4|   0|     1|    0| 2010-01-17|     review|
|oTB_mpCKcu-8wayQQ...|Best food, super ...|    5|   0|     1|    0| 2011-01-14|     review|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
only showing top 5 rows

In [ ]:
# Pull business table
business_df2 = spark.read.jdbc(url=jdbc_url, table='business',properties=config)
business_df2.show(5)

+--------------------+--------------------+
|           review_id|         business_id|
+--------------------+--------------------+
|fWKvX83p0-ka4JS3d...|9yKzy9PApeiPPOUJE...|
|IjZ33sJrzXqU-0X6U...|ZRJwVLyzEJq1VAihD...|
|IESLBzqUCLdSzSqm0...|6oRAC4uyJCsJl1X0W...|
|G-WvGaISbqqaMHlNn...|_1QQZuf4zZOyFCvXc...|
|1uJFq2r5QfJG_6ExM...|6ozycU1RpktNG2-1B...|
+--------------------+--------------------+
only showing top 5 rows

In [ ]:
# Pull yelp_user table
user_df2 = spark.read.jdbc(url=jdbc_url, table='yelp_user',properties=config)
user_df2.show(5)

+--------------------+--------------------+
|           review_id|             user_id|
+--------------------+--------------------+
|GJGUHAAONtBSBj53c...|Z3c7xGRfeV-uMkSbA...|
|nQH2KAvAeOJOYKX99...|ryjqXdp68i2I9JPOp...|
|-yKcbjWSlmKC1zTMT...|5W-ruHmpkwLyI6Lla...|
|20aES_-g5Vyqfzojn...|vhxFLqRok6r-D_aQz...|
|W_d9w7yr3koSUXHco...|aBnKTxZzdhabTXfzt...|
+--------------------+--------------------+
only showing top 5 rows

In [ ]:
# Join tables
spark_df = review_df2.join(business_df2, on="review_id", how="inner")
spark_df = spark_df.join(user_df2, on="review_id", how="inner")
spark_df.show(5)

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|         business_id|             user_id|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+
|-7yxrdY13ay15rGB7...|I have been going...|    5|   0|     0|    0| 2010-01-16|     review|Lh9nz0KYyzE-YRbKu...|ayKW9eWwGFcrtJaHc...|
|-Be0UUGYuiDJVAM_Y...|Since Im big into...|    4|   0|     2|    2| 2011-01-25|     review|pa6K7DGByxBXxcVJ5...|_4lqpCYCqOQzbB6xQ...|
|-nQHHXi-d_yuW301_...|A pleasant place ...|    2|   0|     0|    0| 2011-01-12|     review|GIGI8bJfN6HyPzmEW...|4QORbyhfN01oKR_Gg...|
|2L30O7G8IQ6HILpR0...|part of a social ...|    5|   0|     0|    0| 2010-01-24|     review|qiwajZigq_2twTmYo...|ST8Yzlk2MqKlcaLqL...|
|4x5yLG7_yGLuN-w6f...|I love every plac...|    4|   0|     1|    0| 2011-01-02|     review|9yKzy9PApeiPPOUJE...|Vk-hJ1i5ZagPM87Kv...|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+
only showing top 5 rows

**Transformation**

In [ ]:
import pyspark.sql.functions as F

spark_df=spark_df.withColumn('length',F.length('review_text'))

In [ ]:
spark_df = spark_df.filter((spark_df.stars != 2) & (spark_df.stars != 4))
spark_df.show()

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|         business_id|             user_id|length|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+
|-7yxrdY13ay15rGB7...|I have been going...|    5|   0|     0|    0| 2010-01-16|     review|Lh9nz0KYyzE-YRbKu...|ayKW9eWwGFcrtJaHc...|   670|
|2L30O7G8IQ6HILpR0...|part of a social ...|    5|   0|     0|    0| 2010-01-24|     review|qiwajZigq_2twTmYo...|ST8Yzlk2MqKlcaLqL...|   415|
|5h0EVAee-RDbbKfhd...|A great value for...|    5|   2|     1|    0| 2012-01-21|     review|4VzaYvZntWBRbr8Vm...|feQpvbp8jGBWMuG5u...|   284|
|6jV77Bs_Vu_rHkdUx...|This review is fo...|    3|   1|     2|    1| 2011-01-23|     review|kwq3bK7BzPKLwXKqV...|RwVaQNP1Ag-Seu3U9...|  1092|
|8uV26l7-ktb4tZ5gR...|The new Harkins C...|    5|   0|     1|    0| 2007-01-23|     review|1pGC-0jvQ6vN5rzmC...|nWouNfZD3Pw08RYiz...|   355|
|AfDVtSpM6GvkqS1wJ...|This is one of my...|    5|   0|     0|    0| 2010-01-07|     review|nvaAUTTl7oqiJDhui...|LvAr6xG-A40PGk1qu...|   185|
|CdAkiPi_KKLjHo5l2...|OK, I went based ...|    5|   1|     5|    1| 2008-01-11|     review|NB6o73F05lw23zpC7...|AdEy5KAIlMAy8xHyu...|  1712|
|EnAdKZ_u_wj9ifTRw...|I highly reccomen...|    5|   0|     1|    0| 2012-01-12|     review|rncjoVoEFUJGCUoC1...|HK35ai8frY75iMYBV...|   308|
|FBw_MLyO9eduoDfs-...|I was severely mi...|    1|   3|     5|   20| 2011-01-22|     review|MPsCdY0Bwv2G0JXtw...|lhf22sqBafQv6CXu2...|   203|
|HPJHQKDVttoNjsnlC...|Where else can yo...|    5|   1|     1|    0| 2012-01-29|     review|5KG0A3WlC7K3DAXtr...|ZRQdOIIhzrzE6sc3e...|   460|
|MEdGp-pkf6DAxAsgU...|Awesome food and ...|    5|   0|     0|    0| 2012-01-15|     review|I4bSn5gXsHuSPu7L-...|JfezQ-BqHOE7pnW2D...|    25|
|PINoAXjJQpl3yobdD...|Today I went in f...|    3|   0|     0|    0| 2011-01-16|     review|v6zRA0WqOODJjmpvs...|Iycf9KNRhxvR187Qu...|   342|
|Q5tzwCvyTZBn6_5N1...|The novelty of th...|    3|   4|     4|    4| 2009-01-24|     review|Zg-C1aYcoR2L5OIrA...|DPMUGzrjTwX5uJtrm...|  1157|
|VO1mJpGWPKRdGnJuw...|It does not get m...|    5|   3|     3|    3| 2008-01-15|     review|bcBMAa0UQpNLFvvdZ...|YavFbDG7DUOTXJBLx...|   664|
|WNfddsdJW2u3Cd9Mq...|May I add "family...|    5|   0|     0|    0| 2012-01-23|     review|UScgPn6pIHuOmQJTs...|7W4egS-WyR0hRHMfQ...|   628|
|X7Z6rtSPvKOw2TvQx...|Eh, this place is...|    3|   2|     3|    0| 2007-01-26|     review|FUI-hWH_bpis7AKZT...|e4TQFVfepzHf--hnB...|   558|
|ZQNhHraFM-ErSZdgh...|Fantastic.  Absol...|    5|   0|     0|    1| 2012-01-05|     review|wNsmt1hF1uv3YvbwX...|1CL12c9zuE36NGhx-...|   704|
|aw3lJKaOQy7ayEQ3z...|Just like the oth...|    3|   0|     0|    0| 2012-01-16|     review|irVjrnurmB03bTaj9...|IjafRfMSAQpInLlw-...|   846|
|h8wpsGAv2jMNLVk_g...|I am totally addi...|    5|   0|     0|    0| 2008-01-12|     review|Oz1w_3Ck8lalmtxPc...|toD5fpe7--5ljkAz1...|   181|
|kX8e5NsQu7fHf221k...|Indiana Universit...|    5|  13|     4|    6| 2008-01-01|     review|hvg4NfkaV-aVqbMzK...|mOirLg2h76o-dPn97...|  1926|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+------+
only showing top 20 rows

In [ ]:
# spark_df=spark_df.withColumn('class',F.when( (spark_df["stars"]==1), 0).when((spark_df["stars"]))
# spark_df.show()

In [2]:
# convert to pandas
import pandas as pd
pandas_df = pd.read_csv("https://raw.githubusercontent.com/karenbennis/Xy/storyboard/uniform_yelp.csv")

# Set index
# pandas_df = pandas_df.set_index('review_id')

pandas_df.head()

                review_id                 user_id  ... funny  cool
0  K8avYPWsh45v7VoZgQz-Vg  mrEoKZsYtSgMJsIuLr_oTg  ...     0     0
1  BkiZn5XSzAv9q7J7_4HP7A  7HFkF9A2xaHxLqwcFnJ0JQ  ...     0     1
2  L6kc7Nr7hWiqo7ZvWu4rtg  rsi9Sf_Efk55hPRk6k7vpQ  ...     0     0
3  y35xKzutHXT985mUpp5qVA  fKSX1CAoXkyQecAWR02DVQ  ...     0     1
4  UqQGtBDEfkYMLV-FykNCdA  YmTYfzrC4Z2JbyOucGVJtA  ...     0     0

[5 rows x 9 columns]

In [3]:
# Import dependencies for nltk
# https://towardsdatascience.com/natural-language-processing-nlp-for-machine-learning-d44498845d5b
import nltk

In [4]:
# Import string and punctuations
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
# Function to remove Punctuation
def remove_punct(text):

  # Discard all punctuations
  text_nopunct = ''.join([char for char in text if char not in string.punctuation])
  return text_nopunct

pandas_df['body_text_clean'] = pandas_df['text'].apply(lambda x: remove_punct(x))

pandas_df.head()

                review_id  ...                                    body_text_clean
0  K8avYPWsh45v7VoZgQz-Vg  ...  another pie place that I would be happy to mee...
1  BkiZn5XSzAv9q7J7_4HP7A  ...  I came with my sister and was very excited fro...
2  L6kc7Nr7hWiqo7ZvWu4rtg  ...  I am very disappointed with the Brazilian I re...
3  y35xKzutHXT985mUpp5qVA  ...  Stopped for lunch with my wife I had the Monte...
4  UqQGtBDEfkYMLV-FykNCdA  ...  DONT DO IT  Youre in Vegas looking for a dinin...

[5 rows x 10 columns]

In [6]:
# Tokenization
import re

# Function to Tokenize words
def tokenize(text):

  # W+ means that either a word character (A-Za-z0-9) or a dash (-) can go there
  tokens = re.split('\W+', text)
  return tokens

# Convert to lowercase as Python is case-sensitive
pandas_df['body_text_tokenized'] = pandas_df['body_text_clean'].apply(lambda x: tokenize(x.lower()))

pandas_df.head()

                review_id  ...                                body_text_tokenized
0  K8avYPWsh45v7VoZgQz-Vg  ...  [another, pie, place, that, i, would, be, happ...
1  BkiZn5XSzAv9q7J7_4HP7A  ...  [i, came, with, my, sister, and, was, very, ex...
2  L6kc7Nr7hWiqo7ZvWu4rtg  ...  [i, am, very, disappointed, with, the, brazili...
3  y35xKzutHXT985mUpp5qVA  ...  [stopped, for, lunch, with, my, wife, i, had, ...
4  UqQGtBDEfkYMLV-FykNCdA  ...  [dont, do, it, youre, in, vegas, looking, for,...

[5 rows x 11 columns]

In [7]:
# Remove all English stopwords
import nltk
nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
# Function to remove stopwords
def remove_stopwords(tokenized_list):

  # Remove all stopwords
  text = [word for word in tokenized_list if word not in stopword]
  return text

pandas_df['body_text_nostop'] = pandas_df['body_text_tokenized'].apply(lambda x: remove_stopwords(x))

pandas_df.head()

                review_id  ...                                   body_text_nostop
0  K8avYPWsh45v7VoZgQz-Vg  ...  [another, pie, place, would, happy, meet, good...
1  BkiZn5XSzAv9q7J7_4HP7A  ...  [came, sister, excited, hype, social, media, g...
2  L6kc7Nr7hWiqo7ZvWu4rtg  ...  [disappointed, brazilian, received, today, got...
3  y35xKzutHXT985mUpp5qVA  ...  [stopped, lunch, wife, monte, cristo, potato, ...
4  UqQGtBDEfkYMLV-FykNCdA  ...  [dont, youre, vegas, looking, dining, hot, spo...

[5 rows x 12 columns]

In [9]:
# Stemming
from nltk.stem import PorterStemmer

# Create an instance for stemmer
ps = nltk.PorterStemmer()

# Function for stemming
def stemming(tokenized_text):

  text = [ps.stem(word) for word in tokenized_text]
  return text

pandas_df['body_text_stemmed'] = pandas_df['body_text_nostop'].apply(lambda x: stemming(x))

pandas_df.head()

                review_id  ...                                  body_text_stemmed
0  K8avYPWsh45v7VoZgQz-Vg  ...  [anoth, pie, place, would, happi, meet, good, ...
1  BkiZn5XSzAv9q7J7_4HP7A  ...  [came, sister, excit, hype, social, media, got...
2  L6kc7Nr7hWiqo7ZvWu4rtg  ...  [disappoint, brazilian, receiv, today, got, ho...
3  y35xKzutHXT985mUpp5qVA  ...  [stop, lunch, wife, mont, cristo, potato, sala...
4  UqQGtBDEfkYMLV-FykNCdA  ...  [dont, your, vega, look, dine, hot, spot, your...

[5 rows x 13 columns]

In [10]:
# Lemmatization
# import these modules 
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer 

# Create an instance
wn = nltk.WordNetLemmatizer()

def lemmatizing(tokenized_text):

  text = [wn.lemmatize(word) for word in tokenized_text]
  return text

pandas_df['body_text_lemmatized'] = pandas_df['body_text_nostop'].apply(lambda x: lemmatizing(x))

pandas_df.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                review_id  ...                               body_text_lemmatized
0  K8avYPWsh45v7VoZgQz-Vg  ...  [another, pie, place, would, happy, meet, good...
1  BkiZn5XSzAv9q7J7_4HP7A  ...  [came, sister, excited, hype, social, medium, ...
2  L6kc7Nr7hWiqo7ZvWu4rtg  ...  [disappointed, brazilian, received, today, got...
3  y35xKzutHXT985mUpp5qVA  ...  [stopped, lunch, wife, monte, cristo, potato, ...
4  UqQGtBDEfkYMLV-FykNCdA  ...  [dont, youre, vega, looking, dining, hot, spot...

[5 rows x 14 columns]

In [11]:
pandas_df['length'] = pandas_df['text'].apply(len)
pandas_df.head()

                review_id  ... length
0  K8avYPWsh45v7VoZgQz-Vg  ...    256
1  BkiZn5XSzAv9q7J7_4HP7A  ...    480
2  L6kc7Nr7hWiqo7ZvWu4rtg  ...    236
3  y35xKzutHXT985mUpp5qVA  ...    265
4  UqQGtBDEfkYMLV-FykNCdA  ...   3123

[5 rows x 15 columns]

In [11]:
# Apply CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

count_vect = CountVectorizer()
X_counts = count_vect.fit_transform(pandas_df['review_text'])

KeyError: ignored

In [ ]:
# import pandas as pd

# X_counts_df = pd.DataFrame(X_counts.toarray(), columns=count_vect.get_feature_names())
# X_counts_df.head(10)

In [50]:
pandas_df_copy = pandas_df.copy()

pandas_df_copy = pandas_df_copy[['review_id', 'text', 'stars', 'cool', 'useful', 'funny', 'date', 'business_id', 'user_id', 'length', 'body_text_nostop', 'body_text_stemmed', 'body_text_lemmatized']]

# Convert pandas_df to sparks df
spark_df = spark.createDataFrame(pandas_df_copy)
spark_df.show(5)

+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+
|           review_id|                text|stars|cool|useful|funny|      date|         business_id|             user_id|length|    body_text_nostop|   body_text_stemmed|body_text_lemmatized|
+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+
|K8avYPWsh45v7VoZg...|another pie place...|    3|   0|     0|    0|2008-11-23|UGyEr_PMA-v1cuim0...|mrEoKZsYtSgMJsIuL...|   256|[another, pie, pl...|[anoth, pie, plac...|[another, pie, pl...|
|BkiZn5XSzAv9q7J7_...|I came with my si...|    4|   1|     1|    0|2017-03-30|N_2yEZ41g9zDW_gWA...|7HFkF9A2xaHxLqwcF...|   480|[came, sister, ex...|[came, sister, ex...|[came, sister, ex...|
|L6kc7Nr7hWiqo7ZvW...|I am very disappo...|    1|   0|     0|    0|2017-03-19|XhLM_OtYslzyd4Gyv...|rsi9Sf_Efk55hPRk6...|   236|[disappointed, br...|[disappoint, braz...|[disappointed, br...|
|y35xKzutHXT985mUp...|Stopped for lunch...|    4|   1|     0|    0|2017-05-04|ILa-Xv5-h23A9OMrY...|fKSX1CAoXkyQecAWR...|   265|[stopped, lunch, ...|[stop, lunch, wif...|[stopped, lunch, ...|
|UqQGtBDEfkYMLV-Fy...|DON'T DO IT!  You...|    1|   0|     1|    0|2010-05-20|gBfPyzPRmeOaj3Sdc...|YmTYfzrC4Z2JbyOuc...|  3123|[dont, youre, veg...|[dont, your, vega...|[dont, youre, veg...|
+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [51]:
# Import functions
from pyspark.ml.feature import HashingTF, IDF, StringIndexer

In [52]:
# Make stars values a list
from pyspark.sql.functions import col, split
spark_df = spark_df.withColumn("star_array", split(col("stars"), " "))
spark_df.show()

+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------+
|           review_id|                text|stars|cool|useful|funny|      date|         business_id|             user_id|length|    body_text_nostop|   body_text_stemmed|body_text_lemmatized|star_array|
+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------+
|K8avYPWsh45v7VoZg...|another pie place...|    3|   0|     0|    0|2008-11-23|UGyEr_PMA-v1cuim0...|mrEoKZsYtSgMJsIuL...|   256|[another, pie, pl...|[anoth, pie, plac...|[another, pie, pl...|       [3]|
|BkiZn5XSzAv9q7J7_...|I came with my si...|    4|   1|     1|    0|2017-03-30|N_2yEZ41g9zDW_gWA...|7HFkF9A2xaHxLqwcF...|   480|[came, sister, ex...|[came, sister, ex...|[came, sister, ex...|       [4]|
|L6kc7Nr7hWiqo7ZvW...|I am very disappo...|    1|   0|     0|    0|2017-03-19|XhLM_OtYslzyd4Gyv...|rsi9Sf_Efk55hPRk6...|   236|[disappointed, br...|[disappoint, braz...|[disappointed, br...|       [1]|
|y35xKzutHXT985mUp...|Stopped for lunch...|    4|   1|     0|    0|2017-05-04|ILa-Xv5-h23A9OMrY...|fKSX1CAoXkyQecAWR...|   265|[stopped, lunch, ...|[stop, lunch, wif...|[stopped, lunch, ...|       [4]|
|UqQGtBDEfkYMLV-Fy...|DON'T DO IT!  You...|    1|   0|     1|    0|2010-05-20|gBfPyzPRmeOaj3Sdc...|YmTYfzrC4Z2JbyOuc...|  3123|[dont, youre, veg...|[dont, your, vega...|[dont, youre, veg...|       [1]|
|vOFqQ2ixWDBsg5y3r...|I have used the s...|    5|   0|     0|    0|2017-12-07|Y854K6eDqo-II-I3g...|SAdmlwTOxA9p-1GLa...|   818|[used, services, ...|[use, servic, dav...|[used, service, d...|       [5]|
|PTiXzzAibAMp8etKx...|Just as advertise...|    5|   0|     0|    0|2013-04-05|n8RVrpWpcd3HprzEn...|orO4O_7InPaJk32SJ...|   154|[advertised, exac...|[advertis, exactl...|[advertised, exac...|       [5]|
|BizH_uZC69D-39xJj...|Please note that ...|    2|   0|     1|    0|2017-07-06|2iTsRqUsPGRH1li1W...|RSKAOwXvhCnJN6eOe...|   454|[please, note, di...|[pleas, note, did...|[please, note, di...|       [2]|
|OwvSYizydT8WBK-lX...|In a nutshell, th...|    1|   0|     0|    0|2017-12-10|CSXhYcVHTN5Tvr1Sg...|pn6pWPHcKFV4OZbCE...|   489|[nutshell, guys, ...|[nutshel, guy, su...|[nutshell, guy, s...|       [1]|
|YrcZ6K3Jlqsf4UylT...|I was in Vegas wi...|    2|   0|     3|    0|2011-08-05|ohz8ljVxcZMo2bMGr...|f7hNYpD9EK5ArGpQm...|  2013|[vegas, family, g...|[vega, famili, gr...|[vega, family, gr...|       [2]|
|UXoaClvNTrDAlHsmk...|Just ordered and ...|    5|   0|     0|    0|2015-08-28|-NfdQz7Pesvthek59...|4t2BNnyRnwUXRcluY...|   474|[ordered, receive...|[order, receiv, d...|[ordered, receive...|       [5]|
|eWLuz3n8HIoOCUU0t...|Got notified we (...|    2|   0|     0|    0|2017-04-21|e41TP5cXZqSrz50xC...|UcdkAE1WLEvNaVWW4...|   459|[got, notified, 3...|[got, notifi, 3, ...|[got, notified, 3...|       [2]|
|uFIXgibZFM0ESSoXP...|Went here for the...|    4|   0|     0|    0|2016-07-13|1b7Ma0CBJ0oDPQrFO...|n6pQegZPVp6MqJNUH...|   342|[went, teppanyaki...|[went, teppanyaki...|[went, teppanyaki...|       [4]|
|zCqNaRZHyswUvWlfm...|Lesvos has specia...|    3|   0|     0|    0|2011-10-09|mEOVr6mU6RSGqYtLz...|4IlFpxJ-HU1iBKo89...|   463|[lesvos, specials...|[lesvo, special, ...|[lesvos, special,...|       [3]|
|nDodJqefAA1Y_k47V...|So...we got here ...|    2|   0|     2|    0|2014-11-08|3sUq_KnZs58_7LHbV...|zrO1IWna2hqDlJsTF...|   543|[sowe, got, seate...|[sow, got, seat, ...|[sowe, got, seate...|       [2]|
|KhYIy6TO407kSwRct...|Was really pumped...|    2|   2|     8|    1|2012-03-03|qAg8GkN9rforFWmGx...|F_SLKO6rcypQbbZEm...|  1972|[really, pumped, ...|[realli, pump, fi...|[really, pumped, ...|       [2]|
|ylOS0GOy4D1GWsnw_...|Went to her new d...|    1|   3|     8|    2|2014-11-09|-Rd76RLlOWbz2c7dj...|Ks4YILcmJ8nrnGn49...|   438|[went, new, dog, ...|[went, new, dog, ...|[went, new, dog, ...|       [1]|
|LYMAE0lRRo_X1CscE...|The service was v...|    5|   0|     0|    0|2015-12-25|AbPQf-X7awuPFDULi...|fZjVjOlNuIR3XCb9G...|   387|[service, fast, o...|[servic, fast, or...|[service, fast, o...|       [5]|
|CJuiMuy5a3cMek-Xk...|We had the worst ...|    1|   0|     0|    0|2016-03-18|E67gGK8yOn9kkNzx8...|WP64JyH6vk_OlHUqH...|   513|[worst, service, ...|[worst, servic, e...|[worst, service, ...|       [1]|
|FkDB7oJRv7Kf3mQjM...|I don't understan...|    2|   0|     0|    0|2015-07-25|Kz4WS00PcqOJgxfZa...|Mi4hhmdO9Uy9qq6yW...|   348|[dont, understand...|[dont, understand...|[dont, understand...|       [2]|
+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [53]:
# Initialize a CoutVectorizer
from pyspark.ml.feature import CountVectorizer
star_vectorizer = CountVectorizer(inputCol="star_array", outputCol="stars_one_hot", vocabSize=5, minDF=1.0)

In [54]:
# Create a vector model
star_vector_model = star_vectorizer.fit(spark_df)

In [55]:
# One hot encoded column
df_ohe = star_vector_model.transform(spark_df)
df_ohe.show(3)

+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------+-------------+
|           review_id|                text|stars|cool|useful|funny|      date|         business_id|             user_id|length|    body_text_nostop|   body_text_stemmed|body_text_lemmatized|star_array|stars_one_hot|
+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------+-------------+
|K8avYPWsh45v7VoZg...|another pie place...|    3|   0|     0|    0|2008-11-23|UGyEr_PMA-v1cuim0...|mrEoKZsYtSgMJsIuL...|   256|[another, pie, pl...|[anoth, pie, plac...|[another, pie, pl...|       [3]|(5,[2],[1.0])|
|BkiZn5XSzAv9q7J7_...|I came with my si...|    4|   1|     1|    0|2017-03-30|N_2yEZ41g9zDW_gWA...|7HFkF9A2xaHxLqwcF...|   480|[came, sister, ex...|[came, sister, ex...|[came, sister, ex...|       [4]|(5,[0],[1.0])|
|L6kc7Nr7hWiqo7ZvW...|I am very disappo...|    1|   0|     0|    0|2017-03-19|XhLM_OtYslzyd4Gyv...|rsi9Sf_Efk55hPRk6...|   236|[disappointed, br...|[disappoint, braz...|[disappointed, br...|       [1]|(5,[3],[1.0])|
+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------+-------------+
only showing top 3 rows

In [56]:
# Create all the features to the data set
star_rating = StringIndexer(inputCol='stars',outputCol='label')
hashingTF = HashingTF(inputCol="body_text_stemmed", outputCol='hash_token')
idf = IDF(inputCol='hash_token', outputCol='idf_token')

In [57]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vector
# Create feature vector 
clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')

In [58]:
# Create and run a data processing Pipeline
from pyspark.ml import Pipeline
data_prep_pipeline = Pipeline(stages=[star_rating, hashingTF, idf, clean_up])

In [59]:
# Fit and transform the pipeline
cleaner = data_prep_pipeline.fit(df_ohe)
cleaned = cleaner.transform(df_ohe)

In [60]:
cleaned.show(5)

+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------+-------------+-----+--------------------+--------------------+--------------------+
|           review_id|                text|stars|cool|useful|funny|      date|         business_id|             user_id|length|    body_text_nostop|   body_text_stemmed|body_text_lemmatized|star_array|stars_one_hot|label|          hash_token|           idf_token|            features|
+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------+-------------+-----+--------------------+--------------------+--------------------+
|K8avYPWsh45v7VoZg...|another pie place...|    3|   0|     0|    0|2008-11-23|UGyEr_PMA-v1cuim0...|mrEoKZsYtSgMJsIuL...|   256|[another, pie, pl...|[anoth, pie, plac...|[another, pie, pl...|       [3]|(5,[2],[1.0])|  2.0|(262144,[22567,27...|(262144,[22567,27...|(262145,[22567,27...|
|BkiZn5XSzAv9q7J7_...|I came with my si...|    4|   1|     1|    0|2017-03-30|N_2yEZ41g9zDW_gWA...|7HFkF9A2xaHxLqwcF...|   480|[came, sister, ex...|[came, sister, ex...|[came, sister, ex...|       [4]|(5,[0],[1.0])|  0.0|(262144,[427,1253...|(262144,[427,1253...|(262145,[427,1253...|
|L6kc7Nr7hWiqo7ZvW...|I am very disappo...|    1|   0|     0|    0|2017-03-19|XhLM_OtYslzyd4Gyv...|rsi9Sf_Efk55hPRk6...|   236|[disappointed, br...|[disappoint, braz...|[disappointed, br...|       [1]|(5,[3],[1.0])|  3.0|(262144,[17893,28...|(262144,[17893,28...|(262145,[17893,28...|
|y35xKzutHXT985mUp...|Stopped for lunch...|    4|   1|     0|    0|2017-05-04|ILa-Xv5-h23A9OMrY...|fKSX1CAoXkyQecAWR...|   265|[stopped, lunch, ...|[stop, lunch, wif...|[stopped, lunch, ...|       [4]|(5,[0],[1.0])|  0.0|(262144,[31463,65...|(262144,[31463,65...|(262145,[31463,65...|
|UqQGtBDEfkYMLV-Fy...|DON'T DO IT!  You...|    1|   0|     1|    0|2010-05-20|gBfPyzPRmeOaj3Sdc...|YmTYfzrC4Z2JbyOuc...|  3123|[dont, youre, veg...|[dont, your, vega...|[dont, youre, veg...|       [1]|(5,[3],[1.0])|  3.0|(262144,[2396,392...|(262144,[2396,392...|(262145,[2396,392...|
+--------------------+--------------------+-----+----+------+-----+----------+--------------------+--------------------+------+--------------------+--------------------+--------------------+----------+-------------+-----+--------------------+--------------------+--------------------+
only showing top 5 rows

<br></br>**Pipeline**<br></br>

In [ ]:
# Import functions
# from pyspark.ml.feature import Tokenizer, StopWordsRemover, HashingTF, IDF, StringIndexer

In [ ]:
# Make stars values a list
# from pyspark.sql.functions import col, split
# spark_df = spark_df.withColumn("star_array", split(col("stars"), " "))
# spark_df.show()

In [ ]:
# Initialize a CoutVectorizer
# from pyspark.ml.feature import CountVectorizer
# star_vectorizer = CountVectorizer(inputCol="star_array", outputCol="stars_one_hot", vocabSize=5, minDF=1.0)

In [ ]:
# Create a vector model
# star_vector_model = star_vectorizer.fit(spark_df)

In [ ]:
# # One hot encoded column
# df_ohe = star_vector_model.transform(spark_df)
# df_ohe.show(3)

In [ ]:
# Create all the features to the data set
#star_rating = StringIndexer(inputCol='stars_one_hot',outputCol='label')
# tokenizer = Tokenizer(inputCol="review_text", outputCol="token_text")
# stopremove = StopWordsRemover(inputCol='token_text',outputCol='stop_tokens')
# hashingTF = HashingTF(inputCol="stop_tokens", outputCol='hash_token')
# idf = IDF(inputCol='hash_token', outputCol='idf_token')

In [ ]:
# from pyspark.ml.feature import VectorAssembler
# from pyspark.ml.linalg import Vector
# # Create feature vector 
# clean_up = VectorAssembler(inputCols=['idf_token', 'length'], outputCol='features')

In [ ]:
# Create and run a data processing Pipeline
# from pyspark.ml import Pipeline
# data_prep_pipeline = Pipeline(stages=[tokenizer, stopremove, hashingTF, idf, clean_up])

In [ ]:
# Fit and transform the pipeline
# cleaner = data_prep_pipeline.fit(df_ohe)
# cleaned = cleaner.transform(df_ohe)

In [ ]:
# cleaned.show()

In [ ]:
# Drop redundant column
# x=cleaned.drop('review_type')

# **Naive Bayes**

In [61]:
#Drop intermediate columns
x=cleaned.select('features', 'label')
x.show(5)

+--------------------+-----+
|            features|label|
+--------------------+-----+
|(262145,[22567,27...|  2.0|
|(262145,[427,1253...|  0.0|
|(262145,[17893,28...|  3.0|
|(262145,[31463,65...|  0.0|
|(262145,[2396,392...|  3.0|
+--------------------+-----+
only showing top 5 rows

In [24]:
x.dtypes

[('features', 'vector'), ('label', 'double')]

In [25]:
# Import col
from pyspark.sql.functions import col

# Change column DataType for stars
x = x.withColumn('label', col('label').cast('int'))

x.show(5)

+--------------------+-----+
|            features|label|
+--------------------+-----+
|(262145,[22567,27...|    2|
|(262145,[427,1253...|    0|
|(262145,[17893,28...|    3|
|(262145,[31463,65...|    0|
|(262145,[2396,392...|    3|
+--------------------+-----+
only showing top 5 rows

In [ ]:
# Rename class to label
# x = x.withColumnRenamed('stars_one_hot', 'label')
# x.show(5)

In [ ]:
#import pandas as pd
# data_df = x.select('*').toPandas()
# x = spark.createDataFrame(data_df)

In [28]:
# Break data down into a training set and a testing set
training, testing = x.randomSplit([0.7, 0.3], 21)

**Naive Bayes**

In [29]:
from pyspark.ml.classification import NaiveBayes
# Create a Naive Bayes model and fit training data
nb = NaiveBayes()
predictor = nb.fit(training)

In [30]:
# Use the Class Evaluator for a cleaner description
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(predictor.transform(testing))
print("Accuracy of model at predicting reviews was: %f" % acc)

Accuracy of model at predicting reviews was: 0.358936

Accuracy of model at predicting reviews was: 0.522249

**Logistic Regression**

In [29]:
from pyspark.ml.classification import LogisticRegression
# Create a Naive Bayes model and fit training data
lg = LogisticRegression()
predictor = lg.fit(training)

In [30]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
acc_eval = MulticlassClassificationEvaluator()
acc = acc_eval.evaluate(predictor.transform(testing))
print("Accuracy of model at predicting reviews was: %f" % acc)

Accuracy of model at predicting reviews was: 0.444839

Accuracy of model at predicting reviews was: 0.701011

**Multilayer Percepron**

In [62]:
from pyspark.ml.classification import MultilayerPerceptronClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [63]:
# Split the data into train and test
splits = x.randomSplit([0.8, 0.2], 1234)
train = splits[0]
test = splits[1]

In [64]:
train.show()

+--------------------+-----+
|            features|label|
+--------------------+-----+
|(262145,[15,427,2...|  3.0|
|(262145,[15,991,2...|  0.0|
|(262145,[15,1353,...|  2.0|
|(262145,[15,4914,...|  1.0|
|(262145,[15,5381,...|  1.0|
|(262145,[29,1353,...|  0.0|
|(262145,[47,1353,...|  2.0|
|(262145,[47,2325,...|  1.0|
|(262145,[47,12325...|  1.0|
|(262145,[47,34343...|  0.0|
|(262145,[68,5173,...|  0.0|
|(262145,[70,3856,...|  2.0|
|(262145,[74,3067,...|  2.0|
|(262145,[91,991,4...|  0.0|
|(262145,[97,440,9...|  4.0|
|(262145,[97,635,9...|  3.0|
|(262145,[97,976,3...|  2.0|
|(262145,[97,1353,...|  4.0|
|(262145,[97,1353,...|  4.0|
|(262145,[97,1353,...|  4.0|
+--------------------+-----+
only showing top 20 rows

In [69]:
# specify layers for the neural network:
# input layer of size 3 (features), two intermediate of size 5 and 4
# and output of size 5 (classes)
layers = [262145, 256, 5]

In [70]:
# create the trainer and set its parameters
trainer = MultilayerPerceptronClassifier(maxIter=10, layers=layers, blockSize=128, seed=1234)

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1159, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
    response = connection.send_command(command)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1164, in send_command
    "Error while receiving", e, proto.ERROR_ON_RECEIVE)
py4j.protocol.Py4JNetworkError: Error while receiving

Py4JError: ignored

In [72]:
# train the model
model = trainer.fit(train)

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45873)
Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45873)
Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-72-4f6cd2c6c383>", line 2, in <module>
    model = trainer.fit(train)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/base.py", line 132, in fit
    return self._fit(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 295, in _fit
    java_model = self._fit_java(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 291, in _fit_java
    self._transfer_params_to_java()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 124, in _transfer_params_to_java
    pair = self._make_java_param_pair(param, self._paramMap[param])
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 113, in _make_java_param_pair
    java_param = self._java_obj.getParam(param.name)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1255, in __call__
    answer = self.gateway_client.send_command(command)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 983, in send_command
    connection = self._get_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 931, in _get_connection
    connection = self._create_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 937, in _create_connection
    connection.start()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1079, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:45873)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45873)
Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-72-4f6cd2c6c383>", line 2, in <module>
    model = trainer.fit(train)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/base.py", line 132, in fit
    return self._fit(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 295, in _fit
    java_model = self._fit_java(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 291, in _fit_java
    self._transfer_params_to_java()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 124, in _transfer_params_to_java
    pair = self._make_java_param_pair(param, self._paramMap[param])
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 113, in _make_java_param_pair
    java_param = self._java_obj.getParam(param.name)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1255, in __call__
    answer = self.gateway_client.send_command(command)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 983, in send_command
    connection = self._get_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 931, in _get_connection
    connection = self._create_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 937, in _create_connection
    connection.start()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1079, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:45873)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45873)
Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-72-4f6cd2c6c383>", line 2, in <module>
    model = trainer.fit(train)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/base.py", line 132, in fit
    return self._fit(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 295, in _fit
    java_model = self._fit_java(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 291, in _fit_java
    self._transfer_params_to_java()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 124, in _transfer_params_to_java
    pair = self._make_java_param_pair(param, self._paramMap[param])
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 113, in _make_java_param_pair
    java_param = self._java_obj.getParam(param.name)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1255, in __call__
    answer = self.gateway_client.send_command(command)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 983, in send_command
    connection = self._get_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 931, in _get_connection
    connection = self._create_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 937, in _create_connection
    connection.start()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1079, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:45873)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45873)
Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-72-4f6cd2c6c383>", line 2, in <module>
    model = trainer.fit(train)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/base.py", line 132, in fit
    return self._fit(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 295, in _fit
    java_model = self._fit_java(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 291, in _fit_java
    self._transfer_params_to_java()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 124, in _transfer_params_to_java
    pair = self._make_java_param_pair(param, self._paramMap[param])
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 113, in _make_java_param_pair
    java_param = self._java_obj.getParam(param.name)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1255, in __call__
    answer = self.gateway_client.send_command(command)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 983, in send_command
    connection = self._get_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 931, in _get_connection
    connection = self._create_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 937, in _create_connection
    connection.start()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1079, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:45873)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:45873)
Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 2882, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-72-4f6cd2c6c383>", line 2, in <module>
    model = trainer.fit(train)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/base.py", line 132, in fit
    return self._fit(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 295, in _fit
    java_model = self._fit_java(dataset)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 291, in _fit_java
    self._transfer_params_to_java()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 124, in _transfer_params_to_java
    pair = self._make_java_param_pair(param, self._paramMap[param])
  File "/content/spark-2.4.6-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 113, in _make_java_param_pair
    java_param = self._java_obj.getParam(param.name)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1255, in __call__
    answer = self.gateway_client.send_command(command)
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 983, in send_command
    connection = self._get_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 931, in _get_connection
    connection = self._create_connection()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 937, in _create_connection
    connection.start()
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1079, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:45873)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py", line 1823, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/content/spark-2.4.6-bin-hadoop2.7/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Py4JNetworkError: ignored

In [ ]:
# Authenticate user
from google.colab import auth
auth.authenticate_user()

In [ ]:
# Set project id
project_id = 'xy-yelp'

In [ ]:
# Set project
!gcloud config set project {project_id}

Updated property [core/project].

In [ ]:
# File path to save json file to
filepath = '/tmp/ml_j.json'

In [ ]:
# Save json file **** this will break if the file already exists, which it does at this point, therefore its commented out for now
x.coalesce(1).write.format('json').save(filepath)

In [ ]:
# Bucket name
bucket_name = 'xy-bucket'

In [ ]:
# Copy saved file from /tmp to bucket
!gsutil cp -r /tmp/ml_j.json/ gs://{bucket_name}/json_files/

Copying file:///tmp/ml_j.json/.part-00000-f8a8f21c-0ebe-434c-a8b3-a5c8988dd298-c000.json.crc [Content-Type=application/octet-stream]...
Copying file:///tmp/ml_j.json/._SUCCESS.crc [Content-Type=application/octet-stream]...
Copying file:///tmp/ml_j.json/_SUCCESS [Content-Type=application/octet-stream]...
Copying file:///tmp/ml_j.json/part-00000-f8a8f21c-0ebe-434c-a8b3-a5c8988dd298-c000.json [Content-Type=application/json]...
\
Operation completed over 4 objects/63.0 MiB.