<a href="https://colab.research.google.com/github/karenbennis/Xy/blob/Blake/xy_database_prepper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install Java, Spark, and Findspark ---IMPORTED WITH EVERY COLAB NOTEBOOK
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-07-12 23:23:34--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.5’

postgresql-42.2.9.j 100%[===================>] 892.61K  4.78MB/s    in 0.2s

2020-07-12 23:23:34 (4.78 MB/s) - ‘postgresql-42.2.9.jar.5’ saved [914037/914037]

In [3]:
# Start Spark Session(Creating spark application with name defined by appName()) ---IMPORTED WITH EVERY COLAB NOTEBOOK
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("database_transformation").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
# Import pandas
import pandas as pd
# Import struct files that we need to modify datatypes
from pyspark.sql.types import StructField, StringType, IntegerType, StructType, DateType
# Import unix timestamp 
from pyspark.sql.functions import unix_timestamp, to_date, col

In [5]:
file_path = "https://raw.githubusercontent.com/karenbennis/Xy/Data_ETL/yelp.csv"
pd_df = pd.read_csv(file_path)
pd_df.head()

              business_id        date  ... useful  funny
0  9yKzy9PApeiPPOUJEtnvkg  2011-01-26  ...      5      0
1  ZRJwVLyzEJq1VAihDhYiow  2011-07-27  ...      0      0
2  6oRAC4uyJCsJl1X0WZpVSA  2012-06-14  ...      1      0
3  _1QQZuf4zZOyFCvXc0o6Vg  2010-05-27  ...      2      0
4  6ozycU1RpktNG2-1BroVtw  2012-01-05  ...      0      0

[5 rows x 10 columns]

In [6]:
mySchema = StructType([ StructField("business_id", StringType(), True)\
                       ,StructField("date", StringType(), True)\
                       ,StructField("review_id", StringType(), True)\
                       ,StructField("stars", IntegerType(), True)\
                       ,StructField("text", StringType(), True)\
                       ,StructField("type", StringType(), True)\
                       ,StructField("user_id", StringType(), True)\
                       ,StructField("cool", IntegerType(), True)\
                       ,StructField("useful", IntegerType(), True)\
                       ,StructField("funny", IntegerType(), True)])

In [7]:
df = spark.createDataFrame(pd_df,schema=mySchema)

In [8]:
df.show()

+--------------------+----------+--------------------+-----+--------------------+------+--------------------+----+------+-----+
|         business_id|      date|           review_id|stars|                text|  type|             user_id|cool|useful|funny|
+--------------------+----------+--------------------+-----+--------------------+------+--------------------+----+------+-----+
|9yKzy9PApeiPPOUJE...|2011-01-26|fWKvX83p0-ka4JS3d...|    5|My wife took me h...|review|rLtl8ZkDX5vH5nAx9...|   2|     5|    0|
|ZRJwVLyzEJq1VAihD...|2011-07-27|IjZ33sJrzXqU-0X6U...|    5|I have no idea wh...|review|0a2KyEL0d3Yb1V6ai...|   0|     0|    0|
|6oRAC4uyJCsJl1X0W...|2012-06-14|IESLBzqUCLdSzSqm0...|    4|love the gyro pla...|review|0hT2KtfLiobPvh6cD...|   0|     1|    0|
|_1QQZuf4zZOyFCvXc...|2010-05-27|G-WvGaISbqqaMHlNn...|    5|Rosie, Dakota, an...|review|uZetl9T0NcROGOyFf...|   1|     2|    0|
|6ozycU1RpktNG2-1B...|2012-01-05|1uJFq2r5QfJG_6ExM...|    5|General Manager S...|review|vYmM4KTsC8ZfQBg-j...|   0|     0|    0|
|-yxfBYGB6SEqszmxJ...|2007-12-13|m2CKSsepBCoRYWxiR...|    4|Quiessence is, si...|review|sqYN3lNgvPbPCTRsM...|   4|     3|    1|
|zp713qNhx8d9KCJJn...|2010-02-12|riFQ3vxNpP4rWLk_C...|    5|Drop what you're ...|review|wFweIWhv2fREZV_dY...|   7|     7|    4|
|hW0Ne_HTHEAgGF1rA...|2012-07-12|JL7GXJ9u4YMx7Rzs0...|    4|Luckily, I didn't...|review|1ieuYcKS7zeAv_U15...|   0|     1|    0|
|wNUea3IXZWD63bbOQ...|2012-08-17|XtnfnYmnJYi71yIuG...|    4|Definitely come f...|review|Vh_DlizgGhSqQh4qf...|   0|     0|    0|
|nMHhuYan8e3cONo3P...|2010-08-11|jJAIXA46pU1swYyRC...|    5|Nobuo shows his u...|review|sUNkXg8-KFtCMQDV6...|   0|     1|    0|
|AsSCv0q_BWqIe3mX2...|2010-06-16|E11jzpKz9Kw5K7fuA...|    5|The oldish man wh...|review|-OMlS6yWkYjVldNhC...|   1|     3|    1|
|e9nN4XxjdHj4qtKCO...|2011-10-21|3rPt0LxF7rgmEUrzn...|    5|Wonderful Vietnam...|review|C1rHp3dmepNea7Xio...|   1|     1|    0|
|h53YuCiIDfEFSJCQp...|2010-01-11|cGnKNX3I9rthE0-TH...|    5|They have a limit...|review|UPtysDF6cUDUxq2KY...|   1|     2|    0|
|WGNIYMeXPyoWav1AP...|2011-12-23|FvEEw1_OsrYdvwLV5...|    4|Good tattoo shop....|review|Xm8HXE1JHqscXe5BK...|   1|     2|    0|
|yc5AH9H71xJidA_J2...|2010-05-20|pfUwBKYYmUXeiwrhD...|    4|I'm 2 weeks new t...|review|JOG-4G4e8ae3lx_sz...|   1|     1|    0|
|Vb9FPCEL6Ly24PNxL...|2011-03-20|HvqmdqWcerVWO3Gs6...|    2|Was it worth the ...|review|ylWOj2y7TV2e3yYeW...|   0|     2|    0|
|supigcPNO9IKo6ola...|2008-10-12|HXP_0Ul-FCmA4f-k9...|    3|We went here on a...|review|SBbftLzfYYKItOMFw...|   3|     4|    2|
|O510Re68mOy9dU490...|2010-05-03|j4SIzrIy0WrmW4yr4...|    5|okay this is the ...|review|u1KWcbPMvXFEEYkZZ...|   0|     0|    0|
|b5cEoKR8iQliq-yT2...|2009-03-06|v0cTd3PNpYCkTyGKS...|    3|I met a friend fo...|review|UsULgP4bKA8RMzs8d...|   5|     6|    4|
|4JzzbSbK9wmlOBJZW...|2011-11-17|a0lCu-j2Sk_kHQsZi...|    4|They've gotten be...|review|nDBly08j5URmrHQ2J...|   1|     1|    1|
+--------------------+----------+--------------------+-----+--------------------+------+--------------------+----+------+-----+
only showing top 20 rows

In [9]:
df = df.withColumn('date', 
                   to_date(unix_timestamp(col('date'), 'yyyy-mm-dd').cast("timestamp")))

In [10]:
df.show(3)

+--------------------+----------+--------------------+-----+--------------------+------+--------------------+----+------+-----+
|         business_id|      date|           review_id|stars|                text|  type|             user_id|cool|useful|funny|
+--------------------+----------+--------------------+-----+--------------------+------+--------------------+----+------+-----+
|9yKzy9PApeiPPOUJE...|2011-01-26|fWKvX83p0-ka4JS3d...|    5|My wife took me h...|review|rLtl8ZkDX5vH5nAx9...|   2|     5|    0|
|ZRJwVLyzEJq1VAihD...|2011-01-27|IjZ33sJrzXqU-0X6U...|    5|I have no idea wh...|review|0a2KyEL0d3Yb1V6ai...|   0|     0|    0|
|6oRAC4uyJCsJl1X0W...|2012-01-14|IESLBzqUCLdSzSqm0...|    4|love the gyro pla...|review|0hT2KtfLiobPvh6cD...|   0|     1|    0|
+--------------------+----------+--------------------+-----+--------------------+------+--------------------+----+------+-----+
only showing top 3 rows

In [11]:
df.dtypes

[('business_id', 'string'),
 ('date', 'date'),
 ('review_id', 'string'),
 ('stars', 'int'),
 ('text', 'string'),
 ('type', 'string'),
 ('user_id', 'string'),
 ('cool', 'int'),
 ('useful', 'int'),
 ('funny', 'int')]

In [12]:
df = df.selectExpr("business_id as business_id", "date as review_date", "review_id as review_id", "stars as stars",
                    "text as review_text", "type as review_type", "user_id as user_id", "cool as cool", "useful as useful","funny as funny")

In [13]:
df.show()

+--------------------+-----------+--------------------+-----+--------------------+-----------+--------------------+----+------+-----+
|         business_id|review_date|           review_id|stars|         review_text|review_type|             user_id|cool|useful|funny|
+--------------------+-----------+--------------------+-----+--------------------+-----------+--------------------+----+------+-----+
|9yKzy9PApeiPPOUJE...| 2011-01-26|fWKvX83p0-ka4JS3d...|    5|My wife took me h...|     review|rLtl8ZkDX5vH5nAx9...|   2|     5|    0|
|ZRJwVLyzEJq1VAihD...| 2011-01-27|IjZ33sJrzXqU-0X6U...|    5|I have no idea wh...|     review|0a2KyEL0d3Yb1V6ai...|   0|     0|    0|
|6oRAC4uyJCsJl1X0W...| 2012-01-14|IESLBzqUCLdSzSqm0...|    4|love the gyro pla...|     review|0hT2KtfLiobPvh6cD...|   0|     1|    0|
|_1QQZuf4zZOyFCvXc...| 2010-01-27|G-WvGaISbqqaMHlNn...|    5|Rosie, Dakota, an...|     review|uZetl9T0NcROGOyFf...|   1|     2|    0|
|6ozycU1RpktNG2-1B...| 2012-01-05|1uJFq2r5QfJG_6ExM...|    5|General Manager S...|     review|vYmM4KTsC8ZfQBg-j...|   0|     0|    0|
|-yxfBYGB6SEqszmxJ...| 2007-01-13|m2CKSsepBCoRYWxiR...|    4|Quiessence is, si...|     review|sqYN3lNgvPbPCTRsM...|   4|     3|    1|
|zp713qNhx8d9KCJJn...| 2010-01-12|riFQ3vxNpP4rWLk_C...|    5|Drop what you're ...|     review|wFweIWhv2fREZV_dY...|   7|     7|    4|
|hW0Ne_HTHEAgGF1rA...| 2012-01-12|JL7GXJ9u4YMx7Rzs0...|    4|Luckily, I didn't...|     review|1ieuYcKS7zeAv_U15...|   0|     1|    0|
|wNUea3IXZWD63bbOQ...| 2012-01-17|XtnfnYmnJYi71yIuG...|    4|Definitely come f...|     review|Vh_DlizgGhSqQh4qf...|   0|     0|    0|
|nMHhuYan8e3cONo3P...| 2010-01-11|jJAIXA46pU1swYyRC...|    5|Nobuo shows his u...|     review|sUNkXg8-KFtCMQDV6...|   0|     1|    0|
|AsSCv0q_BWqIe3mX2...| 2010-01-16|E11jzpKz9Kw5K7fuA...|    5|The oldish man wh...|     review|-OMlS6yWkYjVldNhC...|   1|     3|    1|
|e9nN4XxjdHj4qtKCO...| 2011-01-21|3rPt0LxF7rgmEUrzn...|    5|Wonderful Vietnam...|     review|C1rHp3dmepNea7Xio...|   1|     1|    0|
|h53YuCiIDfEFSJCQp...| 2010-01-11|cGnKNX3I9rthE0-TH...|    5|They have a limit...|     review|UPtysDF6cUDUxq2KY...|   1|     2|    0|
|WGNIYMeXPyoWav1AP...| 2011-01-23|FvEEw1_OsrYdvwLV5...|    4|Good tattoo shop....|     review|Xm8HXE1JHqscXe5BK...|   1|     2|    0|
|yc5AH9H71xJidA_J2...| 2010-01-20|pfUwBKYYmUXeiwrhD...|    4|I'm 2 weeks new t...|     review|JOG-4G4e8ae3lx_sz...|   1|     1|    0|
|Vb9FPCEL6Ly24PNxL...| 2011-01-20|HvqmdqWcerVWO3Gs6...|    2|Was it worth the ...|     review|ylWOj2y7TV2e3yYeW...|   0|     2|    0|
|supigcPNO9IKo6ola...| 2008-01-12|HXP_0Ul-FCmA4f-k9...|    3|We went here on a...|     review|SBbftLzfYYKItOMFw...|   3|     4|    2|
|O510Re68mOy9dU490...| 2010-01-03|j4SIzrIy0WrmW4yr4...|    5|okay this is the ...|     review|u1KWcbPMvXFEEYkZZ...|   0|     0|    0|
|b5cEoKR8iQliq-yT2...| 2009-01-06|v0cTd3PNpYCkTyGKS...|    3|I met a friend fo...|     review|UsULgP4bKA8RMzs8d...|   5|     6|    4|
|4JzzbSbK9wmlOBJZW...| 2011-01-17|a0lCu-j2Sk_kHQsZi...|    4|They've gotten be...|     review|nDBly08j5URmrHQ2J...|   1|     1|    1|
+--------------------+-----------+--------------------+-----+--------------------+-----------+--------------------+----+------+-----+
only showing top 20 rows

In [14]:
# Create dataframe matching the review table schema
review_df = df.select(['review_id', 'review_text', 'stars', 'cool', 'useful', 'funny', 'review_date', 'review_type'])

In [15]:
# Create dataframe matching the business table schema
business_df = df.select(['review_id', 'business_id'])

In [16]:
# Create dataframe matching the user table schema
user_df = df.select(['review_id', 'user_id'])

In [17]:
review_df.show(3)

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
|fWKvX83p0-ka4JS3d...|My wife took me h...|    5|   2|     5|    0| 2011-01-26|     review|
|IjZ33sJrzXqU-0X6U...|I have no idea wh...|    5|   0|     0|    0| 2011-01-27|     review|
|IESLBzqUCLdSzSqm0...|love the gyro pla...|    4|   0|     1|    0| 2012-01-14|     review|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
only showing top 3 rows

In [18]:
business_df.show(3)

+--------------------+--------------------+
|           review_id|         business_id|
+--------------------+--------------------+
|fWKvX83p0-ka4JS3d...|9yKzy9PApeiPPOUJE...|
|IjZ33sJrzXqU-0X6U...|ZRJwVLyzEJq1VAihD...|
|IESLBzqUCLdSzSqm0...|6oRAC4uyJCsJl1X0W...|
+--------------------+--------------------+
only showing top 3 rows

In [19]:
user_df.show(3)

+--------------------+--------------------+
|           review_id|             user_id|
+--------------------+--------------------+
|fWKvX83p0-ka4JS3d...|rLtl8ZkDX5vH5nAx9...|
|IjZ33sJrzXqU-0X6U...|0a2KyEL0d3Yb1V6ai...|
|IESLBzqUCLdSzSqm0...|0hT2KtfLiobPvh6cD...|
+--------------------+--------------------+
only showing top 3 rows

In [20]:
# gcloud login and check the DB
!gcloud auth login
!gcloud config set project 'xy-yelp'
!gcloud sql instances describe 'xy-yelp'

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fappengine.admin+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcompute+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth&code_challenge=npfCUFHwcZCaNpqYNfE4WW8-YiYPPQ1mpYc7pMpMLLA&code_challenge_method=S256&access_type=offline&response_type=code&prompt=select_account


Enter verification code: 4/1wFysw-sOqnqXSstzQeGrMT0ant37P0YVF-HFe1e1pqKVxqVccDxnZM

You are now logged in as [belnap.b.01@gmail.com].
Your current project is [xy-yelp].  You can change this setting by running:
  $ gcloud config set project PROJECT_ID
Updated property [core/project].
backendType: SECOND_GEN
connectionName: xy-yelp:northamerica-northeast1:xy-yelp
databaseVersion: POSTGRES_12
etag: fa173e9cdbafab7644e148bba98f8b3e7c8514772bdf0cc0f5db93bb42cae3e6
gceZone: northamerica-northeast1-a
instanceType: CLOUD_SQL_INSTANCE
ipAddresses:
- ipAddress: 34.95.0.17
  type: PRIMARY
kind: sql#instance
name: xy-yelp
project: xy-yelp
region: northamerica-northeast1
selfLink: https://sqladmin.googleapis.com/sql/v1beta4/projects/xy-yelp/instances/xy-yelp
serverCaCert:
  cert: |-
    -----BEGIN CERTIFICATE-----
    MIIDfzCCAmegAwIBAgIBADANBgkqhkiG9w0BAQsFADB3MS0wKwYDVQQuEyQzYTcz
    ZmJhNS0xYTNlLTQwNmMtOWZhOC1hZGE1MDI3OGZkY2QxIzAhBgNVBAMTGkdvb2ds
    ZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUsIEluYzELMAkG
    A1UEBhMCVVMwHhcNMjAwNzExMjAwMDA4WhcNMzAwNzA5MjAwMTA4WjB3MS0wKwYD
    VQQuEyQzYTczZmJhNS0xYTNlLTQwNmMtOWZhOC1hZGE1MDI3OGZkY2QxIzAhBgNV
    BAMTGkdvb2dsZSBDbG91ZCBTUUwgU2VydmVyIENBMRQwEgYDVQQKEwtHb29nbGUs
    IEluYzELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
    AQDMLAiCVUS0u8JRUQSqXLNcXiDU4euUjKhmvbOnDCr2VNVX+dQoq8P+HmL4ruxr
    lmLgtNKuhKjqISSzVKDxEf0mudWfOP+ygsXSP6XxLWplHn/N1A881+u+T33u5N0/
    wreqH6suvi7Cu/SSEcmYUCnpIy5pSZzO63ww9M4p2HZnG/g/j7uqGdPUpdG4GbCk
    jb8EskJiH0hU08ct+AySyc0mrgvfP9l/S5chz0j69uQX/yvWXWy4SSfJ3+wc45Se
    8v7WYo+lcwsOu0lGCz53X9Nej0Av47aKUzXD4HlleeMTbkjgYEv2hRWKVoUhzugT
    dJTsminBKtnYK1n2witgxNqVAgMBAAGjFjAUMBIGA1UdEwEB/wQIMAYBAf8CAQAw
    DQYJKoZIhvcNAQELBQADggEBAB45K3XfFNL/Vkbj0f9daDji+cJHeUS3Y8Uxehog
    2rf+rbmwfeH757NZT29o8rSMMfV05z3fuYvS67JvSIDx/I3UsxRGzRZY4EfXXhC9
    Vke7AVtfxNgKk86V+JPEGQp52L+PFYdh33DigL8XrWpektxIxf7RAqFIvV0F+0FS
    DhXWXkZ8ONFpMK6BCd4aZcKgD0LHafoAKv67+A8IE6b1fFJLh1nkuqZyv1kwLwTM
    bLzSMmkgvxuv8d0dmVxWWr/V1kjc2U7oMqF+tgOE+hcF7fWRyRRZko1RtPwjUHlT
    qzw5uqZUsxR8S4yyiaeePiF8YnDI72ypyY6FiRMlteAydJs=
    -----END CERTIFICATE-----
  certSerialNumber: '0'
  commonName: C=US,O=Google\, Inc,CN=Google Cloud SQL Server CA,dnQualifier=3a73fba5-1a3e-406c-9fa8-ada50278fdcd
  createTime: '2020-07-11T20:00:08.018Z'
  expirationTime: '2030-07-09T20:01:08.018Z'
  instance: xy-yelp
  kind: sql#sslCert
  sha1Fingerprint: 2e2ffdd64d766e372537c174a3d4b91f59ee3e63
serviceAccountEmailAddress: p8056368877-0mi1n8@gcp-sa-cloud-sql.iam.gserviceaccount.com
settings:
  activationPolicy: ALWAYS
  availabilityType: ZONAL
  backupConfiguration:
    enabled: true
    kind: sql#backupConfiguration
    location: us
    pointInTimeRecoveryEnabled: true
    replicationLogArchivingEnabled: true
    startTime: 13:00
  dataDiskSizeGb: '10'
  dataDiskType: PD_SSD
  ipConfiguration:
    authorizedNetworks:
    - kind: sql#aclEntry
      name: Blake Residence
      value: 24.114.86.250
    ipv4Enabled: true
  kind: sql#settings
  locationPreference:
    kind: sql#locationPreference
    zone: northamerica-northeast1-a
  maintenanceWindow:
    day: 0
    hour: 0
    kind: sql#maintenanceWindow
  pricingPlan: PER_USE
  replicationType: SYNCHRONOUS
  settingsVersion: '22'
  storageAutoResize: true
  storageAutoResizeLimit: '0'
  tier: db-f1-micro
state: RUNNABLE

In [21]:
# download and initialize the psql proxy
!wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
!chmod +x cloud_sql_proxy
# "connectionName" is from the previous block
!nohup ./cloud_sql_proxy -instances="xy-yelp:northamerica-northeast1:xy-yelp"=tcp:5432 &
!sleep 30s

cloud_sql_proxy: Text file busy
nohup: appending output to 'nohup.out'

In [22]:
db_password = 'kjhbyelpdb'

In [23]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://127.0.0.1:5432/xy_yelp_db"
config = {"user":"postgres", 
          "password": db_password, 
          "driver":"org.postgresql.Driver"}

In [24]:
# Write DataFrame to review table in RDS
review_df.write.jdbc(url=jdbc_url, table='review', mode=mode, properties=config)

In [25]:
# Write DataFrame to business table in RDS
business_df.write.jdbc(url=jdbc_url, table='business', mode=mode, properties=config)

In [26]:
# Write DataFrame to business table in RDS
user_df.write.jdbc(url=jdbc_url, table='yelp_user', mode=mode, properties=config)

In [27]:
# Read data from database
review_df2 = spark.read \
    .jdbc(url=jdbc_url, table='review',
          properties=config)

In [28]:
review_df2.show(2)

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
|fWKvX83p0-ka4JS3d...|My wife took me h...|    5|   2|     5|    0| 2011-01-26|     review|
|IjZ33sJrzXqU-0X6U...|I have no idea wh...|    5|   0|     0|    0| 2011-01-27|     review|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+
only showing top 2 rows

In [29]:
review_df2.count()

10000

In [30]:
business_df2 = spark.read \
    .jdbc(url=jdbc_url, table='business',
          properties=config)

In [31]:
business_df2.show(2)

+--------------------+--------------------+
|           review_id|         business_id|
+--------------------+--------------------+
|fWKvX83p0-ka4JS3d...|9yKzy9PApeiPPOUJE...|
|IjZ33sJrzXqU-0X6U...|ZRJwVLyzEJq1VAihD...|
+--------------------+--------------------+
only showing top 2 rows

In [32]:
business_df2.count()

10000

In [33]:
user_df2 = spark.read \
    .jdbc(url=jdbc_url, table='yelp_user',
          properties=config)

In [34]:
user_df2.show(2)

+--------------------+--------------------+
|           review_id|             user_id|
+--------------------+--------------------+
|GJGUHAAONtBSBj53c...|Z3c7xGRfeV-uMkSbA...|
|nQH2KAvAeOJOYKX99...|ryjqXdp68i2I9JPOp...|
+--------------------+--------------------+
only showing top 2 rows

In [35]:
user_df2.count()

10000

In [44]:
#df_df = review_df2.join(business_df2, review_df2.review_id == business_df2.review_id, how="inner").drop(_df2.review_id)
review_df2 = review_df2.join(business_df2, on="review_id", how="inner")
review_df2.show(10)

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|         business_id|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+
|-7yxrdY13ay15rGB7...|I have been going...|    5|   0|     0|    0| 2010-01-16|     review|Lh9nz0KYyzE-YRbKu...|
|-Be0UUGYuiDJVAM_Y...|Since Im big into...|    4|   0|     2|    2| 2011-01-25|     review|pa6K7DGByxBXxcVJ5...|
|-nQHHXi-d_yuW301_...|A pleasant place ...|    2|   0|     0|    0| 2011-01-12|     review|GIGI8bJfN6HyPzmEW...|
|2L30O7G8IQ6HILpR0...|part of a social ...|    5|   0|     0|    0| 2010-01-24|     review|qiwajZigq_2twTmYo...|
|4x5yLG7_yGLuN-w6f...|I love every plac...|    4|   0|     1|    0| 2011-01-02|     review|9yKzy9PApeiPPOUJE...|
|5h0EVAee-RDbbKfhd...|A great value for...|    5|   2|     1|    0| 2012-01-21|     review|4VzaYvZntWBRbr8Vm...|
|6jV77Bs_Vu_rHkdUx...|This review is fo...|    3|   1|     2|    1| 2011-01-23|     review|kwq3bK7BzPKLwXKqV...|
|8tW7Dbqv8RR2NfZJ4...|I would never hav...|    4|   3|     6|    2| 2012-01-19|     review|GbEOmf5k73r_UJWjc...|
|8uV26l7-ktb4tZ5gR...|The new Harkins C...|    5|   0|     1|    0| 2007-01-23|     review|1pGC-0jvQ6vN5rzmC...|
|AfDVtSpM6GvkqS1wJ...|This is one of my...|    5|   0|     0|    0| 2010-01-07|     review|nvaAUTTl7oqiJDhui...|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+
only showing top 10 rows

In [45]:
review_df2 = review_df2.join(user_df2, on="review_id", how="inner")
review_df2.show(10)

+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+
|           review_id|         review_text|stars|cool|useful|funny|review_date|review_type|         business_id|             user_id|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+
|-7yxrdY13ay15rGB7...|I have been going...|    5|   0|     0|    0| 2010-01-16|     review|Lh9nz0KYyzE-YRbKu...|ayKW9eWwGFcrtJaHc...|
|-Be0UUGYuiDJVAM_Y...|Since Im big into...|    4|   0|     2|    2| 2011-01-25|     review|pa6K7DGByxBXxcVJ5...|_4lqpCYCqOQzbB6xQ...|
|-nQHHXi-d_yuW301_...|A pleasant place ...|    2|   0|     0|    0| 2011-01-12|     review|GIGI8bJfN6HyPzmEW...|4QORbyhfN01oKR_Gg...|
|2L30O7G8IQ6HILpR0...|part of a social ...|    5|   0|     0|    0| 2010-01-24|     review|qiwajZigq_2twTmYo...|ST8Yzlk2MqKlcaLqL...|
|4x5yLG7_yGLuN-w6f...|I love every plac...|    4|   0|     1|    0| 2011-01-02|     review|9yKzy9PApeiPPOUJE...|Vk-hJ1i5ZagPM87Kv...|
|5h0EVAee-RDbbKfhd...|A great value for...|    5|   2|     1|    0| 2012-01-21|     review|4VzaYvZntWBRbr8Vm...|feQpvbp8jGBWMuG5u...|
|6jV77Bs_Vu_rHkdUx...|This review is fo...|    3|   1|     2|    1| 2011-01-23|     review|kwq3bK7BzPKLwXKqV...|RwVaQNP1Ag-Seu3U9...|
|8tW7Dbqv8RR2NfZJ4...|I would never hav...|    4|   3|     6|    2| 2012-01-19|     review|GbEOmf5k73r_UJWjc...|RAWy3YCE-jwfyuGvw...|
|8uV26l7-ktb4tZ5gR...|The new Harkins C...|    5|   0|     1|    0| 2007-01-23|     review|1pGC-0jvQ6vN5rzmC...|nWouNfZD3Pw08RYiz...|
|AfDVtSpM6GvkqS1wJ...|This is one of my...|    5|   0|     0|    0| 2010-01-07|     review|nvaAUTTl7oqiJDhui...|LvAr6xG-A40PGk1qu...|
+--------------------+--------------------+-----+----+------+-----+-----------+-----------+--------------------+--------------------+
only showing top 10 rows